*.DS_Store
*.pyc
webapp/__pycache__/*.*
*.code-workspace
biasweb/settings.py
biasweb/utils/data/~$*.xlsx
webapp/migrations/0001_initial.py
webapp/migrations/0002_auto_20181030_0032.py
webapp/migrations/0001_initial.bk
webapp/migrations/0001_initial.py
webapp/migrations/*.*
webapp/migrations/

node_modules
package-lock.json
webapp/migrations/0017_auto_20190319_0704.py
webapp/migrations/0011_auto_20190325_1148.py
webapp/migrations/0011_selectedadminphones_batch_label.py
webapp/migrations/0012_sort_feature_exp_sets.py
webapp/migrations/0013_auto_20190311_0453.py
webapp/migrations/0014_auto_20190311_0738.py
webapp/migrations/0015_auto_20190312_1631.py
webapp/migrations/0016_expcriteriaorder_sh_hd.py
webapp/__pycache__/urls.cpython-36.pyc
webapp/__pycache__/views.cpython-36.pyc
webapp/migrations/0002_auto_20181030_0032.py
webapp/migrations/0010_auto_20190212_0536.py
webapp/migrations/0003_exp_flevel.py
webapp/migrations/0004_selectedadminphones.py
webapp/migrations/0005_auto_20181231_0519.py
webapp/migrations/0006_auto_20190106_2208.py
webapp/migrations/0007_auto_20190109_2148.py
webapp/migrations/0008_auto_20190111_2145.py
webapp/migrations/0009_auto_20190212_0428.py
