*.DS_Store
*.pyc
__pycache__
*.code-workspace
biasweb/settings.py
biasweb/utils/data/~$*.xlsx
webapp/migrations/0001_initial.py
webapp/migrations/0002_auto_20181030_0032.py
webapp/migrations/0001_initial.bk
