<ul class="">

    <li class=""><a class="linkclass" href='{% url "createexp" %}' style="font-size: x-large">Create Experiment </a></li>
    <!-- show list of experiments.   -->
    <li class=""><a class="linkclass"  href='{% url "manageexp" %}' style="font-size: x-large">Manage Experiment </a></li>
    <li class=""><a class="linkclass"  href='#' style="font-size: x-large">Delete Experiments </a></li>

    <li class=""><a class="linkclass"  href='{% url "createsurveyform" %}' style="font-size: x-large">Survey Form </a></li>

  </ul>
