

<div class='row'>
        <div class="col-md-12 sidenav_testing">
                <div class="custom_side_rows">
                        <a href="{%url 'mobileview' %}">
                                Mobile Phones   
                        </a>
                </div>
                <div class="custom_side_rows">
                        <a href="{%url 'admin:index'%}">Admin Setup</a>
                </div>
                <div class="custom_side_rows">
                        <a href="{%url 'select_biasfeature'%}">Experiment Setup Menu</a>
                </div>
                <div class="custom_side_rows">
                        <a href="{%url 'admin_setup'%}">Advance Search Setup</a>
                </div>
                <!-- <ul class="sidenav_testing">
                        <li> 
                            <a href="{%url 'mobileview' %}">
                                Mobile Phones   
                            </a>
                        </li>
                        
                        <li><a href="{%url 'admin:index'%}">Direct Entry</a></li>

                      
                        <li ><a href="{%url 'select_biasfeature'%}">Experiment Setup Menu</a></li>
                        <li ><a href="{%url 'admin_setup'%}">Advance Search Setup</a></li>
                     
                </ul> -->
          
                    
         </div>
</div>