

<div class='row'>
        <div class="col-md-12 sidenav_testing">
                        <a href="{%url 'mobileview' %}" class="custom_side_rows">
                            <!-- <a href="#" onclick="mobileCatalog_pageLoader()" class="custom_side_rows"> -->

                             Mobile Catalog  
                        </a>
                
                        <a href="{%url 'admin:index'%}" class="custom_side_rows">Admin Setup</a>
                
                        <a href="{%url 'select_biasfeature'%}" class="custom_side_rows">Experiment Setup Menu</a>
                        <a href="{%url 'admin_setup'%}" class="custom_side_rows">Advance Search Setup</a>

          
                    
         </div>
</div>
