

<div class='row'>
        <div class="col-md-12 sidenav_testing">
                        <a href="{%url 'mobileview' %}" class="custom_side_rows">
                            <!-- <a href="#" onclick="mobileCatalog_pageLoader()" class="custom_side_rows"> -->

                            <span> Mobile Catalog  </span> 
                        </a>
                
                        <a href="{%url 'admin:index'%}" class="custom_side_rows"><span>Admin Setup</span></a>
                
                        <a href="{%url 'select_biasfeature'%}" class="custom_side_rows"><span>Experiment Setup Menu</span></a>
                        <a href="{%url 'admin_setup'%}" class="custom_side_rows"><span>Advance Search Setup</span></a>

          
                    
         </div>
</div>
