
<div class='row'>
        <div class="col-md-12">
<!-- <ul class="sidebar-nav"> -->
 <ul>       
        <li ><a href="#" id='create_exp_mobile_catalog' class='custom_nav_btn' onclick='mobileCatalog()'>Mobile catalog</a></li>
        <li ><a href="{%url 'admin_setup'%}">Advance Search Setup</a></li>
        <li><a href="{%url 'admin:index'%}">Direct Entry</a></li>
        <li><a href="{%url 'importcsv_submit'%}">Insert Csv file to tables</a></li>
        <li ><a href="{%url 'select_biasfeature'%}">Experiment Setup Menu</a></li>
</ul>

         </div>
</div>
<div class="row"> 
        <div class="col-md-12">
                        <!-- <div id="priceslider"></div> -->
                        <input type="text" id="price_slider" class='slider'/>
        </div>
</div>