{% extends "webapp/newbase.html" %}
{% block content %}
{%load static from staticfiles%}

<!-- <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="#">Mobile Analytics</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
             
              <li ><a href="{%url 'mobileview'%}">Home</a></li>
              <li><a href="#" >About</a></li>
              
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
          </div>
        </div>
      </nav> -->
      
      <div class="container-fluid text-center">    
        <div class="row content">
          <div class="col-sm-1 sidenav">
                <ul class="nav nav-pills nav-stacked">
                       <!-- <li ><a href="{%url 'admin_setup'%}">Advance Search Setup</a></li>
                       -->          
                </ul><br>
          </div>
        <div class="col-sm-7 text-left"> 
          <p>Exp:1</p>
                <select id="roles" >
                    <!-- In Future this has to become dynamic -->
                        <option >Please Select</option>
                        <option  value="Set1">Set1</option>
                        <option  value="Set2">Set2</option>
                        <option  value="Set3">Set3</option>
                </select>
                <input type="hidden" value="" id="role_value" name="role_value"/>
              
            <div class="container latest-product-section" id="product-section"> 
                
                   
                  <div id="display_feature_div"></div> 
                  
                  <div class="row">
                                <div class="col-md-8" >
                                        <a href="{%url 'filter'%}" class="button">Look up</a>     
                                </div>     
                  </div>
               
            </div>                 
          </div>
          <div class="col-sm-4 sidenav">
          
            <div class="well">

                <h2>Hidden Features</h2>
                <div id="hide_feature_div"></div>
               
            </div>
           
            <div class="well">
                        <h2>Recent Hidden Features</h2>
                        <ul id="myList">

                        </ul>
            </div>
          </div>
        </div>
      </div>
      
      <footer class="container-fluid text-center">
        <p>Footer Text</p>
      </footer>
<script>
$(document).ready(function () {
    $.ajax({
                                url: "{% url 'admin_setup' %}",
                                type:'GET',
                                'data': {
                                'csrfmiddlewaretoken': '{{ csrf_token }}',
                                },
                                dataType: "json",
                                
                                success: function(data){
                                    var feat_dsp=data['feature_to_display'];
                                    var disp_feat_div=document.getElementById('display_feature_div');
                                    var ul_sortable=document.createElement('ul');
                                    ul_sortable.setAttribute('id','sortable');
                                    disp_feat_div.append(ul_sortable);
                                    for (var i in feat_dsp){
                                      console.log(feat_dsp[i].feature);
                                    var li_sortable=document.createElement('li');
                                    li_sortable.id=feat_dsp[i].feature+"_"+feat_dsp[i].position;
                                    ul_sortable.append(li_sortable);
                                    var div_row=document.createElement('div');
                                    div_row.setAttribute("class",'row');
                                    li_sortable.append(div_row);    
                                    var div_col_md_6_1=document.createElement('div');
                                    div_col_md_6_1.setAttribute("class","col-md-6");
                                    div_row.append(div_col_md_6_1);
                                    var btn_btn_primary=document.createElement('button');
                                    btn_btn_primary.setAttribute("class","btn btn-primary");
                                    btn_btn_primary.innerHTML=feat_dsp[i].feature;
                                    div_col_md_6_1.appendChild(btn_btn_primary);
                                    var div_col_md_6_2=document.createElement('div');
                                    div_col_md_6_2.setAttribute('class',"col-md-6");
                                    div_row.append(div_col_md_6_2);
                                    var btn_show_hide=document.createElement('button');
                                    btn_show_hide.setAttribute("class","show_hide");
                                    btn_show_hide.setAttribute("onclick","hideFromDisplay($(this).parent().parent().parent().attr('id'))");
                                    btn_show_hide.innerHTML="Hide";
                                    div_col_md_6_2.appendChild(btn_show_hide);
                                  }
                                    var feat_hide=data['feature_to_hide'];
                                    var hide_feat_div=document.getElementById('hide_feature_div');
                                    var ul_hiddenfeat=document.createElement('ul');
                                    ul_hiddenfeat.setAttribute("id","hiddenfeat");
                                    hide_feat_div.append(ul_hiddenfeat);
                                    for (var i in feat_hide){

                                      console.log(feat_hide[i].feature);
                                      var li_hiddenfeat=document.createElement('li');
                                      li_hiddenfeat.id=feat_hide[i].feature+"_"+feat_hide[i].position
                                      ul_hiddenfeat.append(li_hiddenfeat);

                                      // var div_row=document.createElement('div');
                                      // div_row.setAttribute('class','row');
                                      // temp.append(div_row);
                                      // var div_col_md_6_1=document.createElement('div');
                                      // div_col_md_6_1.setAttribute('class','col-md-6');
                                      // div_row.append(div_col_md_6_1);
                                      // var btn_btn_primary=document.createElement('btn');
                                      // btn_btn_primary.setAttribute('class','btn btn-primary');
                                      // btn_btn_primary.innerHTML=data[0];
                                      // div_col_md_6_1.append(btn_btn_primary);
                                      // var div_col_md_6_2=document.createElement('div');
                                      // div_col_md_6_2.setAttribute('class','col-md-6');
                                      // div_row.append(div_col_md_6_2);
                                      // var btn=document.createElement('button');
                                      // btn.setAttribute('class','show_hide');
                                      // btn.setAttribute('onclick','showToDisplay($(this).parent().parent().parent().attr("id"))');
                                      // btn.innerHTML="show";
                                      // div_col_md_6_2.append(btn);



                                      var div_row=document.createElement('div')
                                      div_row.setAttribute('class','row');
                                      li_hiddenfeat.append(div_row);
                                      var div_col_md_6_1=document.createElement('div');
                                      div_col_md_6_1.setAttribute('class','col-md-6');
                                      div_row.append(div_col_md_6_1);
                                      var div_col_md_6_2=document.createElement('div');
                                      div_col_md_6_2.setAttribute('class','col-md-6');
                                      div_row.append(div_col_md_6_2);
                                      var btn_btn_primary=document.createElement('btn');
                                      btn_btn_primary.setAttribute('class','btn btn-primary');
                                      btn_btn_primary.innerHTML=feat_hide[i].feature;
                                      div_col_md_6_1.append(btn_btn_primary);
                                      var btn_show_hide=document.createElement('button');
                                      btn_show_hide.setAttribute('class','show_hide');
                                      btn_show_hide.setAttribute('onclick','showToDisplay($(this).parent().parent().parent().attr("id"))');
                                      btn_show_hide.innerHTML="show";
                                      div_col_md_6_2.append(btn_show_hide);




                                    }
                                  $('ul').sortable({
                                      axis: 'y',
                                      stop: function (event, ui) {
                                      console.log("thus",$(this))
                                      var data = $(this).sortable('serialize').split("&");
                                      var arr=[];
                                      console.log("data",data)
                                      for (var key in data)
                                      {   
                                          console.log("key",key)
                                          arr.push(data[key].split("=")[0].replace('[]',''));

                                      }
                                      console.log("arr",arr)
                                      console.log("jason string",JSON.stringify(arr))
                                      $('span').text(data);
                                      $.ajax({
                                  
                                            type: 'POST',
                                            dataType: "json",
                                            'data': {
                                            'd': JSON.stringify(arr),

                                            'csrfmiddlewaretoken': '{{ csrf_token }}',
                                          },
                                          
                                            url: "{% url 'updatefeatureposition' %}",
                                            success: function(response){
                                            console.log("success");
                                            }
                                        });
                                      }
                                  });
                                }
                            });
});

</script>
<script>
    

function testingfunction(){
    console.log("helloo")
}
$("#roles").change(function() {
role_data=$('#roles option:selected').val()
console.log(typeof role_data ); 
var set_num =JSON.stringify(role_data);
alert(set_num)
$.ajax({
                                url: "{% url 'gf' %}",
                                type:'POST',
                                'data': {
                                  'set': set_num,
                                  'csrfmiddlewaretoken': '{{ csrf_token }}',
                                },
                                dataType: "json",
                                
                                success: function(data){
                                  $("#display_feature_div").empty();
                                    var feat_dsp=data['feature_to_display'];
                                    var disp_feat_div=document.getElementById('display_feature_div');
                                    var ul_sortable=document.createElement('ul');
                                    ul_sortable.setAttribute('id','sortable');
                                    disp_feat_div.append(ul_sortable);
                                    for (var i in feat_dsp){
                                      console.log(feat_dsp[i].feature);
                                    var li_sortable=document.createElement('li');
                                    li_sortable.id=feat_dsp[i].feature+"_"+feat_dsp[i].position;
                                    ul_sortable.append(li_sortable);
                                    var div_row=document.createElement('div');
                                    div_row.setAttribute("class",'row');
                                    li_sortable.append(div_row);    
                                    var div_col_md_6_1=document.createElement('div');
                                    div_col_md_6_1.setAttribute("class","col-md-6");
                                    div_row.append(div_col_md_6_1);
                                    var btn_btn_primary=document.createElement('button');
                                    btn_btn_primary.setAttribute("class","btn btn-primary");
                                    btn_btn_primary.innerHTML=feat_dsp[i].feature;
                                    div_col_md_6_1.appendChild(btn_btn_primary);
                                    var div_col_md_6_2=document.createElement('div');
                                    div_col_md_6_2.setAttribute('class',"col-md-6");
                                    div_row.append(div_col_md_6_2);
                                    var btn_show_hide=document.createElement('button');
                                    btn_show_hide.setAttribute("class","show_hide");
                                    btn_show_hide.setAttribute("onclick","hideFromDisplay($(this).parent().parent().parent().attr('id'))");
                                    btn_show_hide.innerHTML="Hide";
                                    div_col_md_6_2.appendChild(btn_show_hide);
                                  }
                                    var feat_hide=data['feature_to_hide'];
                                    var hide_feat_div=document.getElementById('hide_feature_div');
                                    var ul_hiddenfeat=document.createElement('ul');
                                    ul_hiddenfeat.setAttribute("id","hiddenfeat");
                                    hide_feat_div.append(ul_hiddenfeat);
                                    for (var i in feat_hide){

                                      console.log(feat_hide[i].feature);
                                      var li_hiddenfeat=document.createElement('li');
                                      li_hiddenfeat.id=feat_hide[i].feature+"_"+feat_hide[i].position
                                      ul_hiddenfeat.append(li_hiddenfeat);

                                      // var div_row=document.createElement('div');
                                      // div_row.setAttribute('class','row');
                                      // temp.append(div_row);
                                      // var div_col_md_6_1=document.createElement('div');
                                      // div_col_md_6_1.setAttribute('class','col-md-6');
                                      // div_row.append(div_col_md_6_1);
                                      // var btn_btn_primary=document.createElement('btn');
                                      // btn_btn_primary.setAttribute('class','btn btn-primary');
                                      // btn_btn_primary.innerHTML=data[0];
                                      // div_col_md_6_1.append(btn_btn_primary);
                                      // var div_col_md_6_2=document.createElement('div');
                                      // div_col_md_6_2.setAttribute('class','col-md-6');
                                      // div_row.append(div_col_md_6_2);
                                      // var btn=document.createElement('button');
                                      // btn.setAttribute('class','show_hide');
                                      // btn.setAttribute('onclick','showToDisplay($(this).parent().parent().parent().attr("id"))');
                                      // btn.innerHTML="show";
                                      // div_col_md_6_2.append(btn);



                                      var div_row=document.createElement('div')
                                      div_row.setAttribute('class','row');
                                      li_hiddenfeat.append(div_row);
                                      var div_col_md_6_1=document.createElement('div');
                                      div_col_md_6_1.setAttribute('class','col-md-6');
                                      div_row.append(div_col_md_6_1);
                                      var div_col_md_6_2=document.createElement('div');
                                      div_col_md_6_2.setAttribute('class','col-md-6');
                                      div_row.append(div_col_md_6_2);
                                      var btn_btn_primary=document.createElement('btn');
                                      btn_btn_primary.setAttribute('class','btn btn-primary');
                                      btn_btn_primary.innerHTML=feat_hide[i].feature;
                                      div_col_md_6_1.append(btn_btn_primary);
                                      var btn_show_hide=document.createElement('button');
                                      btn_show_hide.setAttribute('class','show_hide');
                                      btn_show_hide.setAttribute('onclick','showToDisplay($(this).parent().parent().parent().attr("id"))');
                                      btn_show_hide.innerHTML="show";
                                      div_col_md_6_2.append(btn_show_hide);




                                    }
                                  $('ul').sortable({
                                      axis: 'y',
                                      stop: function (event, ui) {
                                      console.log("thus",$(this))
                                      var data = $(this).sortable('serialize').split("&");
                                      var arr=[];
                                      console.log("data",data)
                                      for (var key in data)
                                      {   
                                          console.log("key",key)
                                          arr.push(data[key].split("=")[0].replace('[]',''));

                                      }
                                      console.log("arr",arr)
                                      console.log("jason string",JSON.stringify(arr))
                                      $('span').text(data);
                                      $.ajax({
                                  
                                            type: 'POST',
                                            dataType: "json",
                                            'data': {
                                            'd': JSON.stringify(arr),

                                            'csrfmiddlewaretoken': '{{ csrf_token }}',
                                          },
                                          
                                            url: "{% url 'updatefeatureposition' %}",
                                            success: function(response){
                                            console.log("success");
                                            }
                                        });
                                      }
                                  });
                                }
                            });
});

// $.ajax({
//        type: 'POST',
//        dataType: "json",
//        'data': {
//        'set': set_num,
//        'csrfmiddlewaretoken': '{{ csrf_token }}',
//         },
//        url: "{% url 'gf' %}",
//        success: function(response){
//            console.log("success");
//        }
//    });
      // location.reload().delay(800);
 

function hideFromDisplay(id) {
   var item = $('#'+id);
   console.log(id);
   var temp=document.getElementById(id);
  //  var temp = item;
  
   item.find(".show_hide").remove();
  //  var btn = $('<button>Show</button>').attr('width','200px').addClass('show_hide').attr('onclick', '(showToDisplay('+id+'))');
  // var btn = $('<button>Show</button>').attr('width','200px').addClass('show_hide').attr('onclick', '(showToDisplay($(this).parent().attr("id")))');
  var btn=document.createElement('button');
  btn.setAttribute('class','show_hide');
  btn.setAttribute('onclick','showToDisplay($(this).parent().parent().parent().attr("id"))');
  btn.innerHTML="show"
  var data = id.split("_");  
  console.log("data",data[0])
  var arr=[];
  for (var key in data)
            {   
                console.log("key",key);
                arr.push(data[key]);
                break;
            }
   console.log("temp2",temp )

   
   item.remove();
  
   console.log("jason st",JSON.stringify(arr));
      var mylist=document.getElementById('myList');
      
      while (temp.firstChild) {
       temp.removeChild(temp.firstChild);
    }
      console.log("lastchild",temp);
      mylist.append(temp);
      var div_row=document.createElement('div');
      div_row.setAttribute('class','row');
      temp.append(div_row);
      var div_col_md_6_1=document.createElement('div');
      div_col_md_6_1.setAttribute('class','col-md-6');
      div_row.append(div_col_md_6_1);
      var btn_btn_primary=document.createElement('btn');
      btn_btn_primary.setAttribute('class','btn btn-primary');
      btn_btn_primary.innerHTML=data[0];
      div_col_md_6_1.append(btn_btn_primary);
      var div_col_md_6_2=document.createElement('div');
      div_col_md_6_2.setAttribute('class','col-md-6');
      div_row.append(div_col_md_6_2);
      div_col_md_6_2.append(btn);
      // $("#myList").append(temp);


  
   $.ajax({
       type: 'POST',
       dataType: "json",
       'data': {
       'd': JSON.stringify(arr),
       'csrfmiddlewaretoken': '{{ csrf_token }}',
      },
       url: "{% url 'hidefeature' %}",
       success: function(response){
       console.log("success");
       }
   });
 }

function showToDisplay(id) {
    console.log("showToDisplayid",id)
    var item = $("#"+id);
    //var item=document.getElementById(id)
    // var item = $(id);
     var temp = document.getElementById(id);
        item.find(".show_hide").remove();
        //  var btn = $('<button>Hide</button>').attr('width', '200px').addClass('show_hide').attr('onclick', '(hideFromDisplay($(this).parent().attr("id")))');
        var btn=document.createElement('button');btn.setAttribute('class','show_hide');btn.setAttribute('onclick',"hideFromDisplay($(this).parent().parent().parent().attr('id'))");
        btn.innerHTML="Hide";
        var data =item.attr('id');
        console.log("showToDisplay_data",data)
        var d=data.split("_");
        var arr=[]; 
        for (var key in d)
          {   
                  console.log("key",key);
                  arr.push(d[key]);
                  break;
        }
        item.remove();

        // temp.append(btn);
        
        var ul_sortable=document.getElementById('sortable');
        ul_sortable.append(temp);
        while (temp.firstChild) {
        temp.removeChild(temp.firstChild);
        }

        var div_row=document.createElement('div');
        div_row.setAttribute("class",'row');
        temp.append(div_row);    
        var div_col_md_6_1=document.createElement('div');
        div_col_md_6_1.setAttribute("class","col-md-6");
        div_row.append(div_col_md_6_1);
        var btn_btn_primary=document.createElement('button');
        btn_btn_primary.setAttribute("class","btn btn-primary");
        btn_btn_primary.innerHTML=d[0];
        div_col_md_6_1.append(btn_btn_primary);
        var div_col_md_6_2=document.createElement('div');
        div_col_md_6_2.setAttribute("class","col-md-6");
        div_row.append(div_col_md_6_2);
        div_col_md_6_2.appendChild(btn);
       // console.log(arr);
       // console.log("jason st",JSON.stringify(arr));
        // $("#sortable").append(temp);
        




        $.ajax({
        type: 'POST',
        dataType: "json",
        'data': {
        'd': JSON.stringify(arr),
        'csrfmiddlewaretoken': '{{ csrf_token }}',
        },
        url: "{% url 'showfeature' %}",
        success: function(response){
        console.log("success");
         }
        });
 }
//  function myFun(id) {
         
//         var item = $('#'+id);
//         var temp = item;
         
//         item.find(".show_hide").remove();
//         var btn = $('<button>Hide</button>').attr('width', '200px').addClass('show_hide').attr('onclick', '(hideFromDisplay($(this).parent().attr("id")))');
//         var data = id.split("_");
//         var arr=[];
//         for (var key in data)
//           {   
//               console.log("key",key);
//               arr.push(data[key]);
//               break;
//           }
//         temp.append(btn);
//         item.remove();
//         console.log(arr);
//         console.log("jason st",JSON.stringify(arr));
//         $("#sortable").append(temp);
//         $.ajax({
//           type: 'POST',
//           dataType: "json",
//           'data': {
//           'd': JSON.stringify(arr),
//           'csrfmiddlewaretoken': '{{ csrf_token }}',
//           },
//           url: "{% url 'showfeature' %}",
//           success: function(response){
//           console.log("success");
//           }
//        });
//       }
     
      //  $(document).ready(function () {
        
      //   role_data=$('#roles option:selected').val()
      //   console.log(role_data ); 
      //   JSON.stringify(role_data)
      //   //    $.ajax({
        //     type: 'POST',
        //     dataType: "json",
        //     'data': {
        //     'd': JSON.stringify(role_data),
        //     'csrfmiddlewaretoken': '{{ csrf_token }}',
        //     },
        //     url: "{% url 'gf' %}",
        //     success: function(response){
                
        //     console.log("success");
        //     }
        // });
      
//        $('#sortable').sortable({
//         axis: 'y',
//         stop: function (event, ui) {
//           console.log("thus",$(this))
// 	        var data = $(this).sortable('serialize').split("&");
//             var arr=[];
//             console.log("data",data)
//             for (var key in data)
//             {   
//                 console.log("key",key)
//                 arr.push(data[key].split("=")[0].replace('[]',''));

//             }
//              console.log("arr",arr)
//              console.log("jason string",JSON.stringify(arr))
//             $('span').text(data);
//            $.ajax({
       
//                 type: 'POST',
//                 dataType: "json",
//                 'data': {
//                 'd': JSON.stringify(arr),

//                 'csrfmiddlewaretoken': '{{ csrf_token }}',
//                },
               
//                 url: "{% url 'updatefeatureposition' %}",
//                 success: function(response){
//                 console.log("success");
//                     }
//             });
// 	}
//     });
//  });


     </script>
{%endblock%}