{% extends "webapp/newbase.html" %}
{% block content %}
{%load static from staticfiles%}
<div class='container-fluid'>
        <div class='row content' >
            <div class="col-md-2" style="background:black">
                <div id="prevbtn_div"></div>
                <div id="checkdiv_np"></div>
                <div   id="side_crit_list_compmob_one" style="text-align: -moz-center;">
                    <h3 style="color:black;background: cadetblue;width: max-content;padding: 5px; margin-top: 10px; font-weight:normal;font-size:25px;">Criteria List</h3>
                </div>
            </div>
            <div class="col-md-9">
                    <div class="row" >
                            <div class="col-md-7" >
                                <div class='row'>
                                    <div class='allmobilelist'>
                                        
                                    </div>
                                </div>
                                <div class='row'>
                                    <div class='col-md-12'>
                                        <div class='row'   > <!--Comparison Table Heading-->
                                            <div class='col-md-12' id="comparison_table">
                                                <div class='row'  id="mobilenameheadingdiv"></div>
                                                <div class='row'  id='imagediv'></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            <div  id="criteria_div"></div>
                            </div>
                            <div class='col-md-5' id="charts_div">
                                    <!-- <div id="chartContainer" style="height: 300px; width: 100%;"></div> -->
                                    <div class='row'>
                                        <div class='col-md-12'>
                                            <div style="text-align: center;margin: auto;font-size: larger;color: #009688;font-weight: bold;padding-top: 10px;padding-bottom: 10px;">Final Ranking Bar Chart</div>
                                            <canvas id="bar_chart" width="400"height="200" style="background:white"></canvas>
                                        </div>
                                    </div>
                                    <div class='row'>
                                        <div class='col-md-12'>
                                        </div>
                                    </div>
                                        <div class='row'>
                                            <div class='col-md-12'>
                                                <div class='row'>
                                                    <div class='col-md-8' style="text-align: center;margin: auto;font-size: larger;color: #009688;font-weight: bold;padding-top: 10px;padding-bottom: 10px;">
                                                            Criteria Weight Bar Chart Previously Set
 
                                                    </div>
                                                    <div class='col-md-4'  id='change-criteria-weights_div'>
                                                            <a style="color:red"  href="{%url 'criteria_weights'%}" > Change Criteria Weights</a>                                           </div>
                                                    </div>

                                                </div>

                                                <canvas id="bar_chart_criteria" width="400"height="300" style="background:rgba(158, 193, 248, 0.431)"></canvas>
                                            
                                        </div>       
                            </div>
                    </div>

            </div>
            <div class="col-md-1" style="background:black">
                <div class="row"> 
                    <div id="nextbtn_div"></div>
                </div>
            </div>
        </div>
</div>

<script>
    var nextmob_index=0
    var criteria_weights_dict={}
    var criteria_list=[]
    var criteriaweight_name_value_list=[]
    var pageloadedfrompressingnextorprev=true;

    var Interactivity_On=true
    var Reviseability_On=true
    var interactivity_data="";
    var reviseability_data=""
    var alt_labels_chart=[];
    var storenextprevbuttonlogs={};
    var storehoveronbarlog={};
    var storehoveronpielog={};
    // dict that stores alternatives as key, having a value as a dict as well. 
    // Each value will be dictionary whose key will be criteria names and and in values a list containing ["user id","val","current time"];
    var alt_crit_logs_dict={};
    var userid=''
    var slider2=""
    var pagevisited="{{pagevisited}}"
    var surveydata=[];
    var slider_id_val_check_dict;
    var crit_name_list=[];
    var crit_wght_list=[];
    var crit_wght_sum=0;
    var mobile_crit_sum_dict={};
    var mobile_crit_sum_list=[];
    var final_backg_col=[];
    var final_bor_col=[];
    var myChart;
    var myChart_crit;
    var crit_backg_col=[];
    var crit_bor_col=[];
    var subcritcount=0;
    var crit_divs_visted=[];
    var alpha=1.0;
    var mobilephonecolordict={}

$(document).ready(function(){
    $('#checkdiv_np').hide();
    if (pagevisited!=="True"){
        $.ajax({
                    type: 'GET',
                    dataType: "json",
                    async: false, 

                    'data': {
                    },
                    url: "{% url 'comparemobile_1by1_direct' %}",
                    success: function(data){

                        if (data['pagevisited']==="True"){
                            console.log("Sorry you can't go back. ")
                        }
                        else{
                            interactivity_data=data["interactivity_data"];
                            reviseability_data=data["reviseability_data"];
                            userid=data['userid'];
                            if (interactivity_data=="I.0"){
                                Interactivity_On=false
                            }
                            else if (interactivity_data=="I.1"){
                                Interactivity_On=true
                            }   
                            // alert(interactivity_data)
                            if (reviseability_data=="R.0"){
                                Reviseability_On=false
                                $("#change-criteria-weights_div").hide();
                            }
                            else if (reviseability_data=="R.1"){
                                Reviseability_On=true
                            } 
                            // alert(reviseability_data)
                        }
                    }
                      
        });
   
        $.ajax({
                    type: 'POST',
                    dataType: "json",
                    async: false, 
                    'data': {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    },
                    url: "{% url 'comparemobile_1by1_direct' %}",
                    success: function(data){
                        surveydata=JSON.parse(data['surveydata']);

                        criteria_weights_dict=JSON.parse(data['criteria_weights_dict'])
                    
                        allmobile=data['allmobiles'] 
                        alternatives_list=data['alternative_list'];
                        criteria_list=[];
                        criteria_list=data['criteria_list'];
                     
                        // LATER ADD THIS BLOCK OF CODE TO A FUNCTION
                        for (var crit in criteria_list){
                            crit_wght_name=criteria_list[crit];
                            crit_wght_val=criteria_weights_dict[criteria_list[crit]];
                        
                            templist=[];
                            templist.push(crit_wght_name)
                            templist.push(crit_wght_val)
                            criteriaweight_name_value_list.push(templist)
                        }
                        console.log("criteriaweight_name_value_list",criteriaweight_name_value_list);
                        // 
                        mobiletesting=data['allmobiles'];
                        console.log("allmobile",allmobile)
                        console.log("alternatives_list",alternatives_list)
                        console.log("criteria_list",criteria_list)
                        console.log("mobiletesting",mobiletesting)

                        // LABEL ASSIGNING TO BAR CHART
                        for (var i in alternatives_list){
                            if (alternatives_list[i].length>5){
                                var k=alternatives_list[i].split(' ');
                                // change the name of alt_labels_chart to something relate able. IN FUTURE
                                alt_labels_chart.push(k[k.length-1]);
                            }
                        }

                        var i=0;var k=0;length=criteria_list.length;
                        
                        while (i<=criteria_list.length){
                            var side_crit_list=$('#side_crit_list_compmob_one');
                            if (criteria_list[i]==undefined){
                                    break;
                            }
                            var sub_crit_row_divs=$("<div class='sub_crit_row_divs zoom' id='sub_crit_row_divs_"+k+"' onclick='getCriterias($(this))'></div>")
                                var sub_crit_col_div=$("<div class='col-md-12'></div>")
                            sub_crit_row_divs.append(sub_crit_col_div);

                            for (j=0;j<5;j++){
                                if (criteria_list[i]==undefined){
                                    break;
                                }

                                var div=$("<div class='crit_labels_row'></div>");
                                criteria=criteria_list[i];
                                if (criteria_list[i]==='imagepath1'){
                                    criteria="Looks & Feel";
                                }
                                var label=$("<label class='crit_labels_in_list'>"+criteria+"</label>")
                                div.append(label);
                                sub_crit_col_div.append(div);
                                i++;
                            }
                            var hr=$("<hr>")
                            // sub_crit_col_div.append(hr)
                            side_crit_list.append(sub_crit_row_divs);

                            if (criteria_list[i]==undefined){
                                    break
                                }
                            k++;

                        }
                        subcritcount=k;
                        subcritcount++;
                        slider_id_val_check_dict=JSON.parse(window.localStorage.getItem("slider_id_val_check_dict")); 
                        if (slider_id_val_check_dict==undefined){
                            createValDictForPhones(allmobile,alternatives_list);
                        }
                        makeTable(allmobile,alternatives_list[nextmob_index])
                        var sub_crit_row_divs=$("#sub_crit_row_divs_0");
                        getCriterias(sub_crit_row_divs);
                        CalculateWeightsWithAlts();
                        showchart_criteria();
                        var red = Math.floor(Math.random() * 255);
                        var green = Math.floor(Math.random() * 255);
                        var blue = Math.floor(Math.random() * 255);
      
                        for (var c=0;c<alternatives_list.length;c++){
            
                        var rgba='rgba('+red+','+ green+','+blue+','+ alpha+')'
                        var red = Math.floor(Math.random() * 255);
                        var green = Math.floor(Math.random() * 255);
                        var blue = Math.floor(Math.random() * 255);
                        final_backg_col.push(rgba)
                        final_bor_col.push(rgba)
                        mobilephonecolordict[alternatives_list[c]]=rgba;
                        }
                        activeMobilePage();
                        mobilelabelid='#'+alternatives_list[0].replace(/ /g,'-')+'_color';
                        $(mobilelabelid).attr('style','background:'+mobilephonecolordict[alternatives_list[0]]+'')
                        // // slider_id_val_check_dict=JSON.parse(window.localStorage.getItem("slider_id_val_check_dict"));
                        // // console.log("ffffffff",$('#checkdiv_np').is(":visible"))
                        
                        // //  pageloadedfrompressingnextorprev=true;
                        // // pageloadedfrompressingnextorprev=false;

                        // // $('#checkdiv_np').show();
                    }
                   

                });

        }
});
function activeMobilePage(){
    // console.log("final_backg_col------------------",final_backg_col)
    var allmobilelist=$('.allmobilelist');
    var ul=$('<ul></ul>')
    for (var mob in alternatives_list){
        var li=$("<li></li>");
        var row=$('<div class="row"></div>');
        
        var div=$('<div style="margin-top:4px;background:'+mobilephonecolordict[alternatives_list[mob]]+';width:15px;height:15px;border:solid;border-color:black;border-width:thin"></div>')
        // console.log("MOB->>>>>>>>",final_backg_col[mob])
        mobname=alternatives_list[mob].replace(/ /g,'-')
        var label=$('<label class="mobile_label_color" id="'+mobname+'_color" >'+alternatives_list[mob]+'</label>')
        
        row.append(div)
        row.append(label)

        // label.append(div)
        
        li.append(row);

        ul.append(li);
    }
    allmobilelist.append(ul);
}

function activateSlider(crt){
    var crit=crt;
    var mob_name=alternatives_list[nextmob_index]
    if (crit=="Looks & Feel"){
        crit="imagepath1"
    }
    // console.log("crit>>",crit)

    console.log("slider_id_val_check_dict>>",slider_id_val_check_dict)
    value=slider_id_val_check_dict[mob_name][crit]
    console.log("value",value);
    var row=$('<div class="row slider_rows"></div');
    $("#criteria_div").append(row);

        var col1=$('<div class="col-md-3">');
        if (crit==='imagepath1'){
            crit="Looks & Feel"
        }
        console.log("crit",crit)
            var label=$("<label class='crit_labels'>"+crit+"</label>")
        col1.append(label)
        var col2=$("<div class='col-md-8'></div>");
            input=$('<input id="'+crit+'" class="slider"></input>')
        col2.append(input);
            var specinfo_div=$("<div style='text-align: center;font-weight: bolder;'></div>");
            specinfo_div.append(allmobile[mob_name][crit]);
        col2.append(specinfo_div);

        var col3=$("<div class='col-md-1'></div>");
            span=$('<span id="'+crit+'_span"></span>')
        col3.append(span);
    row.append(col1);
    row.append(col2);
    row.append(col3);
   

    var slider = new rSlider({

                target:crit,
                values: [1,2,3,4,5,6,7,8,9,10],
                widget:false,
                labels:[1,2,3,4,5,6,7,8,9,10],
                labels:true,
                set:value,
                tooltip:false,
                onChange: function (event) {
                    console.log("EVENT",event)
                    console.log("THIS",this.target)
                    document.getElementById(this.target+'_span').innerHTML=event;
                    target=this.target;
                    if (this.target==='Looks & Feel')
                    {
                        target='imagepath1'
                    }
                    else{
                        target=this.target;
                    }
                   
                    

                    if (slider_id_val_check_dict[mob_name][target]===undefined){
                        slider_id_val_check_dict[mob_name][target]=[]
                    }
                    else{
                        event=parseInt(event)
                        slider_id_val_check_dict[mob_name][target]=[event];
                        // console.log("Mobile name",mob_name);
                        // console.log("Target",target);
                        // console.log("slider_id_val_check_dict[mob_name][target]",slider_id_val_check_dict[mob_name][target])

                    }
                    // console.log("slider_id_val_check_dict",slider_id_val_check_dict)
                    CalculateWeightsWithAlts();
                    show_FinalChart();

                    
                }
                });

}
function getCriterias(element){
    console.log("crit_divs_visted--------------",crit_divs_visted)

    element_id=$(element).attr('id')
    if (Reviseability_On===false){

        if (crit_divs_visted.includes(element_id)){
            // alert("CLicked Again ")
            $('.error-notification').remove();
            var $err = $('<div>').addClass('error-notification')
            .html('<div><h4>Sorry you can not check these Criterias again!</h4></div>')

            // .html('<div><img class="imgClose" src="http://www.mobissimo.com/images/module-close.png" /><p><img src="http://www.mousescrappers.com/forums/xperience/icons/teacups24.png" /><h2>Paolo is awesome</h2>(click on this box to close)</p></div>')
                .css('left', $(element).position().left);
                $(element).after($err);
                $err.fadeIn('fast');
                $err.fadeOut(3000);
                return;
            // var ele=$('#side_crit_list_compmob_one').find('.selected_zoom');
            // $(ele).attr('class','sub_crit_row_divs');    
            // $(element).attr('class','sub_crit_row_divs  selected_zoom');
        }
        else{
            // alert("CLicked First Time")

            crit_divs_visted.push(element_id)

            var ele=$('#side_crit_list_compmob_one').find('.selected_zoom');
            $(ele).attr('class','sub_crit_row_divs');    
            $(element).attr('class','sub_crit_row_divs  selected_zoom');
        }

   

    //     $('#test').each(function (){
    //     this.style.pointerEvents = 'none'; 
    //     }); 

        // // To re-enable:
        // $('#test').each(function (){
        //     this.style.pointerEvents = 'auto'; 
        // }); 
    }
    else{
        var ele=$('#side_crit_list_compmob_one').find('.selected_zoom');
        $(ele).attr('class','sub_crit_row_divs  zoom');    
        $(element).attr('class','sub_crit_row_divs  selected_zoom');
    }
  
       

    
    $("#criteria_div").empty();
    $(element).each(function() {
        label=$(this).find("label");
        $(label).each(function(){
            crit=$(this).text();
            activateSlider(crit);
        });
    });
    
    
   

       


    



}

function makeTable(allmobile,mob_name){

    var specs=[];
    var mobilenameheadingdiv=$('#mobilenameheadingdiv')
    var div=$("<div style='text-align: center;margin: auto;font-size: larger;color: #009688;font-weight: bold;padding-top: 10px;padding-bottom: 10px;'></div>");
        div.append(mob_name); 
    mobilenameheadingdiv.append(div);
    
    for (var mobilespec in allmobile[mob_name]){

        if (mobilespec==='imagepath1'){
            var im=allmobile[mob_name][mobilespec]
            specs.push('imagepath1')
            // console.log("MOBILESPEC1",mobilespec);
                var  imageelement=$("<img class='img-responsive zoom' src='/static/"+im+"'></img>")
                imagediv=$("#imagediv");
                imagediv.append(imageelement);
            }
        else{
            specs.push(mobilespec)
            console.log("MOBILESPEC2",mobilespec);

        }
    }
   
           
        if (nextmob_index!==0){
            // if block contains R.O then dont show prev option.
            if (Reviseability_On===true){
                $('#prevbtn_div').empty(); 
                var prevbutton=document.createElement('button');
                prevbutton.setAttribute("onclick","prevMobile()");
                prevbutton.setAttribute("class","btn btn-primary");
                prevbutton.id="prev_button"
                var itag=document.createElement("I")
                itag.setAttribute("class","fa fa-arrow-circle-left");
                prevbutton.appendChild(itag);
                var text = document.createTextNode("Prev ");
                prevbutton.appendChild(text);
                $(prevbutton).appendTo('#prevbtn_div');
            }
            else{
                console.log("Reviseability off")
            }
            
        }
        else{
            $('#prevbtn_div').empty(); 
        }
        if (nextmob_index===alternatives_list.length){

            $('#nextbtn_div').empty();
            show_FinalChart();
            showchart_criteria();
            var submit_button=document.createElement("BUTTON");
            submit_button.setAttribute("class","btn btn btn-success");
            submit_button.setAttribute("onclick","submitData()")
            submit_button.id="submit_data"
            var text = document.createTextNode("Submit");
            submit_button.appendChild(text);
            $(submit_button).appendTo('#nextbtn_div');
            $("#side_crit_list_compmob_one").hide();
        }
        else{
            $('#nextbtn_div').empty();
            if (Reviseability_On===false){
                $('#prevbtn_div').empty(); 
            }
            var nextbutton=document.createElement('button');
            nextbutton.setAttribute("onclick","nextMobile()")
            nextbutton.setAttribute("class","btn btn-primary");
            var text = document.createTextNode("Next ");
            nextbutton.appendChild(text);
            var itag=document.createElement("I")
            itag.setAttribute("class","fa fa-arrow-circle-right");
            nextbutton.appendChild(itag);
            $(nextbutton).appendTo('#nextbtn_div');
        }

}
function createValDictForPhones(allmobile,mobilenames){

    slider_id_val_check_dict={};
    for (var mobname in mobilenames){
        var specdict={};
        var mobname=mobilenames[mobname];
        slider_id_val_check_dict[mobname]={};
        mobilespecs=allmobile[mobname];
        console.log("allmobile[mobname]",allmobile[mobname])
        for (var mobilespec in mobilespecs){
            var value=[5];
            specdict[mobilespec]=value;
            slider_id_val_check_dict[mobname]=specdict;
        }
    }

    console.log("slider_id_val_check_dict",slider_id_val_check_dict)
}
function nextMobile(){
   
    // pageloadedfrompressingnextorprev=true;
    if (Reviseability_On==false){

    
        len=crit_divs_visted.length
        
        if (len<subcritcount){
            alert ("Please See all Criterias before Moving Further.")
            return;
        }
    }
    if (alternatives_list[nextmob_index+1]!==undefined){
        var mobilename=alternatives_list[nextmob_index+1];
        mobilename=mobilename.replace(/ /g,'-')
        labelid=mobilename+'_color'
            $('.mobile_label_color').each(function () {
                console.log("LABEL IDS---------->",$(this).attr('id'))
                $(this).attr('style','background:none');
                console.log("L id>>>>>>>>>",labelid)
                if ($(this).attr('id')===labelid){
                    $(this).attr('style','background:'+mobilephonecolordict[alternatives_list[nextmob_index+1]]+'');
                }
            });
    }
      
        
        storenextprevbuttonlogs[new Date($.now())]=['next',userid,alternatives_list[nextmob_index]];
        console.log("storenextprevbuttonlogs",storenextprevbuttonlogs);
        console.log("mob_index--1",nextmob_index);
        nextmob_index+=1;
        console.log("mob_index--1--2",nextmob_index);
        $("#mobilenameheadingdiv").empty();
        $("#imagediv").empty();
        $("#criteria_div").empty();
        // makeTable(allmobile,alternatives_list[nextmob_index]);
        // pageloadedfrompressingnextorprev=false;
        console.log("NEXT MObile",alternatives_list[nextmob_index]);
        makeTable(allmobile,alternatives_list[nextmob_index]);
        if (Reviseability_On===false){
            $('#side_crit_list_compmob_one > .sub_crit_row_divs')
            .each(function (){
                console.log("Divs",$(this).attr("id"))
                $(this).attr("class",'sub_crit_row_divs zoom')
            });
            crit_divs_visted=[];
        }
        var sub_crit_row_divs=$("#sub_crit_row_divs_0");
        getCriterias(sub_crit_row_divs);
    }
function prevMobile(){
    var mobilename=alternatives_list[nextmob_index-1];
    mobilename=mobilename.replace(/ /g,'-')

    labelid=mobilename+'_color'
        $('.mobile_label_color').each(function () {
            console.log("LABEL IDS---------->",$(this).attr('id'))
            $(this).attr('style','background:none');
            console.log("L id>>>>>>>>>",labelid)
            if ($(this).attr('id')===labelid){
                $(this).attr('style','background:'+mobilephonecolordict[alternatives_list[nextmob_index-1]]+'');

            }
    })





    pageloadedfrompressingnextorprev=true
    storenextprevbuttonlogs[new Date($.now())]=['prev',userid,alternatives_list[nextmob_index]];
    console.log("storenextprevbuttonlogs",storenextprevbuttonlogs);


    console.log("mob_index--2",nextmob_index)

    
    nextmob_index-=1
    console.log("mob_index--2--2",nextmob_index)
    $("#mobilenameheadingdiv").empty();
    $("#imagediv").empty();
    $("#criteria_div").empty();
    // makeTable(allmobile,alternatives_list[nextmob_index]);
    // pageloadedfrompressingnextorprev=false;
    makeTable(allmobile,alternatives_list[nextmob_index])
    var sub_crit_row_divs=$("#sub_crit_row_divs_0");
    getCriterias(sub_crit_row_divs)

}
function showSliderRangeVal(parent_id,value){
    var val=parseInt(value);
    var split_arr=parent_id.id.split('-');
    // console.log("split_arr",split_arr)
    var criteria=split_arr[0];
    document.getElementById(criteria+'span').innerHTML=val;
    var input_class=document.getElementsByClassName('slider')
    var temp_slider_id_val_check_list=[];
    var temp_final_list=[];
    for (var i=0;i<input_class.length;i++){
        
            temp_slider_id_val_check_list.push(input_class[i].id) 
            temp_slider_id_val_check_list.push(input_class[i].value)  
            temp_final_list.push(temp_slider_id_val_check_list);
            temp_slider_id_val_check_list=[];
    }
    
    // console.log("temp_final_list",temp_final_list)
    if (slider_id_val_check_dict==null){
        slider_id_val_check_dict={}
    }
    else{
        // console.log("split_arr",split_arr)

        // console.log("split_arr[1]",split_arr[1])
        slider_id_val_check_dict[split_arr[1]]=temp_final_list
        

    }
    console.log("slider_id_val_check_dict",slider_id_val_check_dict)
    // calculation process on every slide change...
    // console.log("criteria_list",criteria_list)

   
    // console.log("criteriaweight_name_value_list",criteriaweight_name_value_list)
    CalculateWeightsWithAlts();
    // if I.O in blocks then dont run these functions
    if (Interactivity_On===true){
        show_FinalChart();
    }
    else{
        console.log("Interactivity off")
    }
  
          
}


function CalculateWeightsWithAlts(){
    crit_wght_sum=0
    crit_wght_list=[]
    crit_name_list=[]
    mobile_crit_sum_dict={}
    mobile_crit_sum_list=[]
    for (var mobilename in alternatives_list){
       var mobile_name= alternatives_list[mobilename];
       mobile_bar_sum=0;
      
       for (var crit in criteriaweight_name_value_list){
            crit_wght_name=criteriaweight_name_value_list[crit][0];
            crit_wght_val=criteriaweight_name_value_list[crit][1];

            if (parseInt(mobilename)===0){
                // console.log("crit_wght_sum",crit)
                crit_wght_sum=crit_wght_sum+parseInt(crit_wght_val)
                crit_wght_list.push(parseInt(crit_wght_val))
                crit_name_list.push(crit_wght_name);
            }

            // console.log("crit_wght",crit_wght_name)
            // console.log("crit_wght_val",crit_wght_val)
            if (slider_id_val_check_dict[mobile_name]!==undefined){
                // foo=slider_id_val_check_dict[mobile_name][crit]
                outOf=10
                foo=Object.keys(slider_id_val_check_dict[mobile_name])
            //     if (crit_wght_name in foo){

            //         crit_slide_val=parseInt(slider_id_val_check_dict[mobile_name][crit][0])
            //         console.log("crit_slide_val",crit_slide_val)
                    
            //         bar=parseInt(crit_wght_val)/outOf*crit_slide_val
            //         console.log("BAR",bar)
            //         mobile_bar_sum=mobile_bar_sum+bar
            // }
                if (foo.includes(crit_wght_name)){
                    crit_slide_val=parseInt(slider_id_val_check_dict[mobile_name][crit_wght_name][0])
                    // console.log("crit_slide_val",crit_slide_val)
                    bar=parseInt(crit_wght_val)/outOf*crit_slide_val
                    // console.log("BAR",bar)
                    mobile_bar_sum=mobile_bar_sum+bar
                }
            
                
            }
        
             
       }
       console.log("mobile_bar_sum",mobile_bar_sum)

       mobile_crit_sum_dict[alternatives_list[mobilename]]=mobile_bar_sum;
       mobile_crit_sum_list.push(mobile_bar_sum);
    }

    // console.log("WT_TOTAL",crit_wght_sum)
    // console.log("Crit Total",mobile_crit_sum_dict)
    // console.log("crit_wght_list",crit_wght_list)
    console.log("mobile_crit_sum_list",mobile_crit_sum_list)

}

function show_FinalChart(){
    var main_data={};
    var dataset=[];
    var dataset_dic={};
    //  Have to Make it dynamic in Future. 
    // var labels=["MOB A","MOB B","MOB C"];
    var labels=alt_labels_chart;
    var label='Final Score';
    var data_percentage=[];
    for (var t in mobile_crit_sum_list){
       
        data_percentage.push(mobile_crit_sum_list[t])
   } 
   var data=data_percentage;
   if (final_backg_col.length===0 && final_bor_col.length===0){
        var red = Math.floor(Math.random() * 255);
        var green = Math.floor(Math.random() * 255);
        var blue = Math.floor(Math.random() * 255);
        alpha=0.8;
        // previously it was criteria_list....
        // for (var c=0;c<alternatives_list.length;c++){
            
        //     var rgba='rgba('+red+','+ green+','+blue+','+ alpha+')'
        //     var red = Math.floor(Math.random() * 255);
        //     var green = Math.floor(Math.random() * 255);
        //     var blue = Math.floor(Math.random() * 255);
        //     final_backg_col.push(rgba)
        //     final_bor_col.push(rgba)
        //     }
    }
    var borderWidth=0.5;
    dataset_dic['label']=label;
    dataset_dic['data']=data;
    dataset_dic['backgroundColor']=final_backg_col;
    dataset_dic['borderColor']=final_bor_col;
    dataset_dic['borderWidth']=borderWidth;
    dataset.push(dataset_dic);
    main_data['labels']=labels;
    main_data['datasets']=dataset;

    if(myChart)
    {
        myChart.destroy();
    }
	var canvas=document.getElementById('bar_chart').getContext('2d')
    
    
     myChart = new Chart(canvas, {
    type: 'horizontalBar',
    
    data: main_data,
    showTooltips: true,
    options: {
        responsive: true,
        scales: {
            xAxes: [{
                ticks: {
                    beginAtZero:true,
                     max:100
                }
            }]
        },
        legend: {
            display: true,
            labels: {
                fontColor: 'rgb(255, 99, 132)',
                fontSize:13,
                fontFamily:'sans-serif', 
                padding:5,
                boxWidth:20
            }
        },
        // onHover: function(evt) {
        //     console.log(evt)
        // },
        tooltips: {
            callbacks: {
                labelColor: function(tooltipItem, chart) {
                    return {
                        borderColor: 'rgb(255, 0, 0)',
                        backgroundColor: 'rgb(255, 0, 0)'
                    };
                },
                labelTextColor: function(tooltipItem, chart) {
                    console.log("tooltipItem ",tooltipItem);

                    var ylabel=tooltipItem.yLabel
                    var xlabel=tooltipItem.xLabel
                    storehoveronbarlog[new Date($.now())]=[userid,xlabel,ylabel]
                    console.log("storehoveronbarlog",storehoveronbarlog)
                    return '#ff0000';
                }
 

            }
        }
    }
});


}

function showchart_criteria(){
    var main_data={};
    var dataset=[];
    var dataset_dic={};
    var label='Criteria';
    var data_per=[];
    console.log("crit_wght_list",crit_wght_list)
    for (var t in crit_wght_list){
        var foo=crit_wght_list[t]/crit_wght_sum;
        foo=foo.toFixed(3);

       data_per.push(100* foo)
   }
   var data=data_per;
   if (crit_backg_col.length===0 && crit_bor_col.length===0){
        var red = Math.floor(Math.random() * 255);
        var green = Math.floor(Math.random() * 255);
        var blue = Math.floor(Math.random() * 255);

        var alpha=1;
        for (var c=1;c<crit_name_list.length+1;c++){
            
            var rgba='rgba('+red+','+ green+','+blue+','+ alpha+')'
            var red = Math.floor(Math.random() * 255);
            var green = Math.floor(Math.random() * 255);
            var blue = Math.floor(Math.random() * 255);
            crit_backg_col.push(rgba)
            crit_bor_col.push(rgba)
            }
    }
    var backgroundColor=crit_backg_col;
    var borderColor=crit_bor_col;
    var borderWidth=0.5;

    dataset_dic['label']=label;
    dataset_dic['data']=data;
    dataset_dic['backgroundColor']=backgroundColor;
    dataset_dic['borderColor']=borderColor;
    dataset_dic['borderWidth']=borderWidth;
    dataset.push(dataset_dic);
    console.log("crit_name_list",crit_name_list)
    if (crit_name_list.includes("imagepath1")){
        var index = crit_name_list.indexOf("imagepath1");

        if (index !== -1) {
            crit_name_list[index] = "Look and Feel";
        }
    }
    main_data['labels']=crit_name_list
    main_data['datasets']=dataset;
    if(myChart_crit)
    {
        myChart_crit.destroy();
    }

    var canvas_crit=document.getElementById('bar_chart_criteria').getContext('2d');
    myChart_crit = new Chart(canvas_crit, {
    // type: 'horizontalBar',
    type:'pie',
    showTooltips: false,
    data: main_data,
    
    options: {
        responsive: true,
        // scales: {
        //     xAxes: [{
        //         ticks: {
        //             beginAtZero:true,
        //             // max: 100
        //         }
        //     }]
        // },
        legend: {
            display: true,
            // position:'left',
            // now user cant click on labels...
            onClick: (e) => e.stopPropagation(),

            labels: {
                fontColor: 'rgb(255, 99, 132)',
                fontSize:6,
                fontFamily:'sans-serif', 
                padding:5,
                boxWidth:20
                
                
            }
        },
        tooltips: {
            callbacks: {
               
                label: function(tooltipItem, data) { 
            var indice = tooltipItem.index;   
            console.log(" data.labels[indice]", data.labels[indice])  
            var label=data.labels[indice]; 
            var value=data.datasets[0].data[indice];
            console.log("data.datasets[0].data[indice]",data.datasets[0].data[indice])

            storehoveronpielog[new Date($.now())]=[userid,label,value]
            console.log("storehoveronpielog",storehoveronpielog)
            return  data.labels[indice] +': '+data.datasets[0].data[indice] + '';

        }

                }
            
        },
    }
});


}



function submitData(){
 console.log("storehoveronbarlog",storehoveronbarlog);
 console.log("storehoveronpielog",storehoveronpielog);
 console.log("alt_crit_logs_dict",alt_crit_logs_dict);
 console.log("storenextprevbuttonlogs",storenextprevbuttonlogs);
 console.log("criteria_weights_dict",criteria_weights_dict);
 $.ajax({
                type: 'POST',
                dataType: "json",
                'data': {
                    "storehoveronbarlog":JSON.stringify(storehoveronbarlog),
                    "storehoveronpielog":JSON.stringify(storehoveronpielog),
                    "alt_crit_logs_dict":JSON.stringify(alt_crit_logs_dict),
                    "storenextprevbuttonlogs":JSON.stringify(storenextprevbuttonlogs),

                'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
                url: "{% url 'submit_data' %}",
                success: function(data){
                    console.log("SUCCESS")
                    $('#charts_div').hide();
                    $("#prev_button").hide();
                    $("#comparison_table").empty();
                    $("#submit_data").remove();
                    
                    // var submit_form=document.createElement("BUTTON");
                    // submit_form.setAttribute("class","btn btn btn-success");
                    // submit_form.setAttribute("onclick","submitForm()");
                    // submit_form.id="submit_form"
                    // var text = document.createTextNode("Submit Form");
                    // submit_form.appendChild(text);
                    // $(submit_form).appendTo('#nextbtn_div');

                    var comparison_table=$("#comparison_table");
                    var survey_element=$("<div id='surveyElement'></div>")
                    var survey_result=$('<div id="surveyResult"></div>')
                    comparison_table.append(survey_element);
                    comparison_table.append(survey_result);

                    $.material.init();

Survey.defaultBootstrapMaterialCss.navigationButton = "btn btn-green";
Survey.defaultBootstrapMaterialCss.rating.item = "btn btn-default my-rating";
Survey.StylesManager.applyTheme("bootstrapmaterial");



var json = { pages: [
        {questions: [
            { type: "matrix", name: "Quality", title: "Please indicate if you agree or disagree with the following statements",
                columns: [{ value: 1, text: "Strongly Disagree" }, 
                          { value: 2, text: "Disagree" }, 
                          { value: 3, text: "Neutral" }, 
                          { value: 4, text: "Agree" }, 
                          { value: 5, text: "Strongly Agree" }],
                rows: [{ value: "affordable", text: "Product is affordable" }, 
                       { value: "does what it claims", text: "Product does what it claims" },
                       { value: "better then others", text: "Product is better than other products on the market" }, 
                       { value: "easy to use", text: "Product is easy to use" }]},
            { type: "rating", name: "satisfaction", title: "How satisfied are you with the Product?", 
                mininumRateDescription: "Not Satisfied", maximumRateDescription: "Completely satisfied" },
            { type: "rating", name: "recommend friends", visibleIf: "{satisfaction} > 3", 
                title: "How likely are you to recommend the Product to a friend or co-worker?", 
                mininumRateDescription: "Will not recommend", maximumRateDescription: "I will recommend" },
            { type: "comment", name: "suggestions", title:"What would make you more satisfied with the Product?", }
        ]},
        {questions: [
            { type: "radiogroup", name: "price to competitors", 
                title: "Compared to our competitors, do you feel the Product is",
                choices: ["Less expensive", "Priced about the same", "More expensive", "Not sure"]},
            { type: "radiogroup", name: "price", title: "Do you feel our current price is merited by our product?",
                choices: ["correct|Yes, the price is about right", 
                        "low|No, the price is too low for your product", 
                        "high|No, the price is too high for your product"]},
            { type: "multipletext", name: "pricelimit", title: "What is the... ",
                items: [{ name: "mostamount", title: "Most amount you would every pay for a product like ours" },
                        { name: "leastamount", title: "The least amount you would feel comfortable paying" }]}
        ]},
        { questions: [
                { type: "text", name: "email", 
                    title: "Thank you for taking our survey. Your survey is almost complete, please enter your email address in the box below if you wish to participate in our drawing, then press the 'Submit' button."}
            ]}
    ]
};
json=surveydata;
window.survey = new Survey.Model(json);


    survey.onComplete.add(function(result) {
        document.querySelector('#surveyResult').textContent =
            "Result JSON:\n" + JSON.stringify(result.data, null, 3);
    });


$("#surveyElement").Survey({ 
    model: survey 
});



    
                    
                    
                }
        });



}

</script>


<script>
        // Warning before leaving the page (back button, or outgoinglink)
        window.onbeforeunload = function() {
            window.localStorage.setItem("slider_id_val_check_dict", JSON.stringify(slider_id_val_check_dict));
        }
</script>   

{%endblock%}