{% extends "webapp/newbase.html" %}
{% block content %}
{%load static from staticfiles%}
<div class='container-fluid'>
        <div class='row'>
            <div class="col-md-2" style="background:black">
                <div id="prevbtn_div"></div>
            </div>
            <div class="col-md-9">
                    <div class="row">
                            <div class="col-md-7" >
                                <div id="tablediv">   </div>
                            </div>
                            <div class='col-md-5'>
                                    <!-- <div id="chartContainer" style="height: 300px; width: 100%;"></div> -->
                                    <div class='row'>
                                        <div class='col-md-12'>
                                            <canvas id="bar_chart" width="400"height="200" style="background:white"></canvas>
                                        </div>
                                    </div>
                                    <div class='row'>
                                        <div class='col-md-12'>
                                        </div>
                                    </div>
                                        <div class='row'>
                                            <div class='col-md-12'>
                                                <canvas id="bar_chart_criteria" width="400"height="200" style="background:rgba(158, 193, 248, 0.431)"></canvas>
                                            </div>
                                        </div>       
                            </div>
                    </div>

            </div>
            <div class="col-md-1" style="background:black">
                <div class="row"> 
                    <div id="nextbtn_div"></div>
                </div>
            </div>
        </div>
</div>

<script>
    var nextmob_index=0
    var criteria_weights_dict={}
    var criteria_list=[]
    var temp_crit_list=[]
    var Interactivity_On=true
$(document).ready(function(){
        $.ajax({
                    type: 'GET',
                    dataType: "json",
                    'data': {
                    },
                    url: "{% url 'comparemobile_1by1_direct' %}",
                    success: function(data){
                        if (data["InT"]="I.0"){
                            Interactivity_On=false
                        }
                        else if (data["InT"]="I.1"){
                            Interactivity_On=true
                        }   
                    }
        });
     $.ajax({
                type: 'POST',
                dataType: "json",
                'data': {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
                url: "{% url 'comparemobile_1by1_direct' %}",
                success: function(data){
                    criteria_weights_dict=JSON.parse(data['criteria_weights_dict'])
                 
                    allmobile=data['allmobiles'] 
                    alternatives_list=data['alternative_list'];
                    criteria_list=[]
                    criteria_list=data['criteria_list'];

                    // LATER ADD THIS BLOCK OF CODE TO A FUNCTION
                    for (var crit in criteria_list){
                        crit_wght_name=criteria_weights_dict['criteria_weights'][crit][0];
                        crit_wght_val=criteria_weights_dict['criteria_weights'][crit][1];
                    
                        templist=[]
                        templist.push(crit_wght_name)
                        templist.push(crit_wght_val)
                        temp_crit_list.push(templist)
                    
                    }
                    // 
                    mobiletesting=data['allmobiles'];
                    console.log("allmobile",allmobile)
                    console.log("alternatives_list",alternatives_list)
                    console.log("criteria_list",criteria_list)
                    console.log("mobiletesting",mobiletesting)
                    slider_id_val_check_dict=JSON.parse(window.localStorage.getItem("slider_id_val_check_dict")); 

                    makeTable(allmobile,alternatives_list[nextmob_index]);
                // As it is only one by one. We won't be needing any combinations. 
                // allmobile is a dictionary containing data of each mobile,where mobile name is the key. 
                // Alternative_list contain only the name of the phones. 
                // criteria list contains all the criterias admin has set for the subject. 
                // mobile testing is the same as allmobile
                // WORKFLOW!!!!
                // -Pass the allmobile dictionary to maketable function. Which will populate the data... 
                // -Keeping the number of phones in check we will show the next button, which will again
                //    populate the next in line phone data to the table. 
                // *Here we will check the permission given to the subject if revisiablity is on only then
                // we'll show it the option of going back. 
                // -Similarly seeing if interactivity check is On we'll populate the charts as well.


                }
     });
});

function makeTable(allmobile,mob_name){
    var table=document.createElement("TABLE");
    // table.setAttribute('class','table-bordered')
    var thead=document.createElement("THEAD");
    table.appendChild(thead)
    var tbody=document.createElement("TBODY");
    table.appendChild(tbody);
    var trh=document.createElement("TR");
    thead.appendChild(trh);
    var th=document.createElement('TH')
    th.setAttribute("style","padding-right:1pc")
    trh.appendChild(th);
    th.append("Criteria");
    var count=0;
    var mobilename=[];
    var specs=[];
    mobilename.push(mob_name)
    var th=document.createElement('TH')
    th.setAttribute("style","padding-right:1pc")
    trh.appendChild(th);
    th.append(mob_name)
    var rowcount=0
    console.log("ALL MOBILE",allmobile)
    for (var mobilespec in allmobile[mob_name]){
        if (mobilespec==='imagepath1'){
            specs.push('imagepath1')
            
            var tr=document.createElement('TR');
            tr.setAttribute('id','imagepath1'+rowcount)
            tbody.appendChild(tr);
            var td=document.createElement('TD');
            td.setAttribute("align","center")
            tr.appendChild(td);
            td.append('Models');
            var td=document.createElement('TD');
            td.setAttribute("align","center")
            tr.appendChild(td);
            var img=document.createElement('img');
            img.setAttribute('class','img-responsive')
            var im=allmobile[mob_name][mobilespec]
            img.src="/static/"+im;
            img.style="height: 154px;"
            td.append(img);
            // console.log('mobilespec',mobilespec)
            // console.log('allmobile[namekey][mobilespec]',allmobile[namekey][mobilespec])
            
            rowcount++;
            $('#tablediv').append(table) 
        }
        else{
            specs.push(mobilespec)
            
            var tr=document.createElement('TR');
            tr.setAttribute('id',mobilespec+rowcount)
            tbody.appendChild(tr);
            var td=document.createElement('TD');
            td.setAttribute("align","center")
            tr.appendChild(td);
            td.append(mobilespec);
            var td=document.createElement('TD');
            td.setAttribute("align","center")
            tr.appendChild(td);
            td.append(allmobile[mob_name][mobilespec]);
            // console.log('mobilespec',mobilespec)
            // console.log('allmobile[namekey][mobilespec]',allmobile[namekey][mobilespec])
            
            rowcount++;
            $('#tablediv').append(table) 
        }
    }
    var rowcount=0;
    for (var mbs in specs){
               
               var refrow =document.getElementById(specs[mbs]+rowcount);
           
               if (refrow!=null){
                   var newrow = document.createElement("TR");
                   newrow.setAttribute('align','center')
                   newrow.setAttribute('id',specs[mbs]+'-'+mobilename)
                   // var td=document.createElement('TD');
                   // newrow.appendChild(td);
                   // td.append("Slider ");
                   var td=document.createElement('TD');
                   td.setAttribute('id',specs[mbs]+'-'+mobilename+'-td')
                   td.setAttribute("align","center")
                   td.setAttribute('colSpan',"3")
                   newrow.appendChild(td);
                   // creating style divs ... 
                   var div_row=document.createElement('div')
                   div_row.setAttribute('class','row');
                   td.append(div_row);
                   var div_col=document.createElement('div');
                   div_col.setAttribute('class','col-md-2')
                   div_row.append(div_col);
                   var div_col1=document.createElement('div');
                   div_col1.setAttribute('class','col-md-8');
                   div_row.append(div_col1);
                   
                   var input = document.createElement("input");
                   input.type = "text";
                   input.id=specs[mbs]+'-'+mobilename+'-td'+'__'+specs[mbs]+'-slider';
                   input.setAttribute('class','slider')
                   div_col1.append(input);
                  
                 
                   var span=document.createElement('span');
                   span.id=specs[mbs]+'span';
                   span.innerHTML=1;
                   
                   var div_col2=document.createElement('div');
                   div_col2.setAttribute('class','col-md-2');
                   div_col2.append(span)
                   div_row.append(div_col2);
           
                   td.append(div_row);
                   refrow.parentNode.insertBefore(newrow, refrow.nextSibling);
                   rowcount++;
                  
             
                 // on creation check if the comparison is already done or not ? 
                 // if already done then load the values of ranges selected earlier 
                 // into the slider value ... THATS it.   
                 // if target id matched the stored slider id then get value
                 
                 // GEt the  current pair of mobile in comparison
                 // search in dict if the pair already exsists. 
                 // if it exsists then get the values of slider one by one, which is based on the loop. 
           
                //    var current_slider_comb=mobilename;
                //    current_slider_comb=current_slider_comb.join(',')
                   var value=[5];
                   if (slider_id_val_check_dict!=null){
                       if (slider_id_val_check_dict[mob_name]!=undefined){
                           value=[parseInt(slider_id_val_check_dict[mob_name][mbs][1])];
                       }
                   }
                   
                  
               
                   var slider2 = new rSlider({
                               target: specs[mbs]+'-'+mobilename+'-td'+'__'+specs[mbs]+'-slider',
                               
                               values: [1,2,3,4,5,6,7,8,9,10],
                               widget:false,
                               labels:[1,2,3,4,5,6,7,8,9,10],
                               
                               labels:true,
                               set:value,
                               tooltip:true,
                               
                             
                               onChange: function (event) {
                                   console.log(this.target);
                                   var split_arr=this.target.split('__');
                                   var parent_id=document.getElementById(split_arr[0]).parentNode;
                                   showSliderRangeVal(parent_id,event)
                               }
                   });

            }
        }
           
        if (nextmob_index!==0){
            // if block contains R.O then dont show prev option.
            $('#prevbtn_div').empty(); 
            var prevbutton=document.createElement('button');
            prevbutton.setAttribute("onclick","prevMobile()");
            prevbutton.setAttribute("class","btn btn-primary");
            var itag=document.createElement("I")
            itag.setAttribute("class","fa fa-arrow-circle-left");
            prevbutton.appendChild(itag);
            var text = document.createTextNode("Prev ");
            prevbutton.appendChild(text);
            $(prevbutton).appendTo('#prevbtn_div');
        }
        else{
            $('#prevbtn_div').empty(); 
        }
        if (nextmob_index===alternatives_list.length){
            $('#nextbtn_div').empty();
            var submit_button=document.createElement("BUTTON");
            submit_button.setAttribute("class","btn");
            var text = document.createTextNode("Submit");
            submit_button.appendChild(text);
            $(submit_button).appendTo('#nextbtn_div');
            
        }
        else{
            $('#nextbtn_div').empty();
            var nextbutton=document.createElement('button');
            nextbutton.setAttribute("onclick","nextMobile()")
            nextbutton.setAttribute("class","btn btn-primary");
            var text = document.createTextNode("Next ");
            nextbutton.appendChild(text);
            var itag=document.createElement("I")
            itag.setAttribute("class","fa fa-arrow-circle-right");
            nextbutton.appendChild(itag);
            $(nextbutton).appendTo('#nextbtn_div');
        }
}
function nextMobile(){
    $("#tablediv").empty();
    console.log("mob_index--1",nextmob_index)
    
    nextmob_index+=1
    console.log("mob_index--1--2",nextmob_index)

    makeTable(allmobile,alternatives_list[nextmob_index]);
    

}
function prevMobile(){
    console.log("mob_index--2",nextmob_index)

    $("#tablediv").empty();
    
    nextmob_index-=1
    console.log("mob_index--2--2",nextmob_index)

    makeTable(allmobile,alternatives_list[nextmob_index]);
}
slider_id_val_check_dict=null
function showSliderRangeVal(parent_id,value){
    var val=parseInt(value);
    var split_arr=parent_id.id.split('-');
    // console.log("split_arr",split_arr)
    var criteria=split_arr[0];
    document.getElementById(criteria+'span').innerHTML=val;
    var input_class=document.getElementsByClassName('slider')
    var temp_slider_id_val_check_list=[];
    var temp_final_list=[];
    for (var i=0;i<input_class.length;i++){
        
            temp_slider_id_val_check_list.push(input_class[i].id) 
            temp_slider_id_val_check_list.push(input_class[i].value)  
            temp_final_list.push(temp_slider_id_val_check_list);
            temp_slider_id_val_check_list=[];
    }
    
    // console.log("temp_final_list",temp_final_list)
    if (slider_id_val_check_dict==null){
        slider_id_val_check_dict={}
    }
    else{
        // console.log("split_arr",split_arr)

        // console.log("split_arr[1]",split_arr[1])
        slider_id_val_check_dict[split_arr[1]]=temp_final_list
        

    }
    console.log("slider_id_val_check_dict",slider_id_val_check_dict)
    // calculation process on every slide change...
    // console.log("criteria_list",criteria_list)

   
    // console.log("temp_crit_list",temp_crit_list)
    CalculateWeightsWithAlts();
    // if I.O in blocks then dont run these functions
    if (Interactivity_On==true){
        show_FinalChart();
        showchart_criteria();
    }
    else{
       pass
    }
  
          
}

var crit_name_list=[]
var crit_wght_list=[]
var crit_wght_sum=0
var mobile_crit_sum_dict={}
var mobile_crit_sum_list=[]

function CalculateWeightsWithAlts(){
    crit_wght_sum=0
    crit_wght_list=[]
    crit_name_list=[]
    mobile_crit_sum_dict={}
    mobile_crit_sum_list=[]
    for (var mobilename in alternatives_list){
       var mobile_name= alternatives_list[mobilename];
       mobile_bar_sum=0
       console.log("MOBILE NAME",mobile_name)
       console.log("mobilename",mobilename)
       for (var crit in temp_crit_list){
            crit_wght_name=temp_crit_list[crit][0];
            crit_wght_val=temp_crit_list[crit][1];

            if (parseInt(mobilename)===0){
                console.log("crit_wght_sum",crit)
                crit_wght_sum=crit_wght_sum+parseInt(crit_wght_val)
                crit_wght_list.push(parseInt(crit_wght_val))
                crit_name_list.push(crit_wght_name);
            }

            console.log("crit_wght",crit_wght_name)
            console.log("crit_wght_val",crit_wght_val)
            if (slider_id_val_check_dict[mobile_name]!==undefined){
                foo=slider_id_val_check_dict[mobile_name][crit][0].split('-')
                outOf=10

                if (foo[0].includes(crit_wght_name)){
                    console.log("PPP")
                    crit_slide_val=parseInt(slider_id_val_check_dict[mobile_name][crit][1])
                    bar=parseInt(crit_wght_val)/outOf*crit_slide_val

                    mobile_bar_sum=mobile_bar_sum+bar
                    console.log("bar",bar)
                }
            }
        
             
       }
       mobile_crit_sum_dict[alternatives_list[mobilename]]=mobile_bar_sum;
       mobile_crit_sum_list.push(mobile_bar_sum);
    }
    console.log("WT_TOTAL",crit_wght_sum)
    console.log("Crit Total",mobile_crit_sum_dict)
    console.log("crit_wght_list",crit_wght_list)
    console.log("mobile_crit_sum_list",mobile_crit_sum_list)


}
var final_backg_col=[];
var final_bor_col=[];
var myChart;
function show_FinalChart(){
    var main_data={};
    var dataset=[];
    var dataset_dic={};
    //  Have to Make it dynamic in Future. 
    var labels=["MOB A","MOB B","MOB C"];
    var label='Final Score';
    var data_percentage=[];
    for (var t in mobile_crit_sum_list){
       
        data_percentage.push(  mobile_crit_sum_list[t])
   } 
   var data=data_percentage;
   if (final_backg_col.length===0 && final_bor_col.length===0){
        var red = Math.floor(Math.random() * 255);
        var green = Math.floor(Math.random() * 255);
        var blue = Math.floor(Math.random() * 255);
        var alpha=0.8;
        // previously it was criteria_list....
        for (var c=0;c<alternatives_list.length;c++){
            
            var rgba='rgba('+red+','+ green+','+blue+','+ alpha+')'
            var red = Math.floor(Math.random() * 255);
            var green = Math.floor(Math.random() * 255);
            var blue = Math.floor(Math.random() * 255);
            final_backg_col.push(rgba)
            final_bor_col.push(rgba)
            }
    }
    var borderWidth=0.5;
    dataset_dic['label']=label;
    dataset_dic['data']=data;
    dataset_dic['backgroundColor']=final_backg_col;
    dataset_dic['borderColor']=final_bor_col;
    dataset_dic['borderWidth']=borderWidth;
    dataset.push(dataset_dic);
    main_data['labels']=labels;
    main_data['datasets']=dataset;

    if(myChart)
    {
        myChart.destroy();
    }
	var canvas=document.getElementById('bar_chart').getContext('2d')
    
    
     myChart = new Chart(canvas, {
    type: 'horizontalBar',
    
    data: main_data,
    showTooltips: true,
    options: {
        responsive: true,
        scales: {
            xAxes: [{
                ticks: {
                    beginAtZero:true,
                     max:100
                }
            }]
        },
        legend: {
            display: true,
            labels: {
                fontColor: 'rgb(255, 99, 132)',
                fontSize:13,
                fontFamily:'sans-serif', 
                padding:5,
                boxWidth:20
            }
        }
    }
});


}
var myChart_crit;
var crit_backg_col=[];
var crit_bor_col=[];
function showchart_criteria(){
    var main_data={};
    var dataset=[];
    var dataset_dic={};
    var label='Criteria';
    var data_per=[];
    console.log("crit_wght_list",crit_wght_list)
    for (var t in crit_wght_list){
        var foo=crit_wght_list[t]/crit_wght_sum
       data_per.push(100* foo)
   }
   var data=data_per;
   if (crit_backg_col.length===0 && crit_bor_col.length===0){
        var red = Math.floor(Math.random() * 255);
        var green = Math.floor(Math.random() * 255);
        var blue = Math.floor(Math.random() * 255);

        var alpha=1;
        for (var c=1;c<crit_name_list.length+1;c++){
            
            var rgba='rgba('+red+','+ green+','+blue+','+ alpha+')'
            var red = Math.floor(Math.random() * 255);
            var green = Math.floor(Math.random() * 255);
            var blue = Math.floor(Math.random() * 255);
            crit_backg_col.push(rgba)
            crit_bor_col.push(rgba)
            }
    }
    var backgroundColor=crit_backg_col;
    var borderColor=crit_bor_col;
    var borderWidth=0.5;

    dataset_dic['label']=label;
    dataset_dic['data']=data;
    dataset_dic['backgroundColor']=backgroundColor;
    dataset_dic['borderColor']=borderColor;
    dataset_dic['borderWidth']=borderWidth;
    dataset.push(dataset_dic);
    console.log("crit_name_list",crit_name_list)
    if (crit_name_list.includes("imagepath1")){
        var index = crit_name_list.indexOf("imagepath1");

        if (index !== -1) {
            crit_name_list[index] = "Look and Feel";
        }
    }
    main_data['labels']=crit_name_list
    main_data['datasets']=dataset;
    if(myChart_crit)
    {
        myChart_crit.destroy();
    }

    var canvas_crit=document.getElementById('bar_chart_criteria').getContext('2d');
    myChart_crit = new Chart(canvas_crit, {
    type: 'pie',
    showTooltips: false,
    data: main_data,
    
    options: {
        responsive: true,
        // scales: {
        //     yAxes: [{
        //         ticks: {
        //             beginAtZero:true,
        //             // max: 100
        //         }
        //     }]
        // },
        legend: {
            display: true,
            position:'left',
            labels: {
                fontColor: 'rgb(255, 99, 132)',
                fontSize:16,
                fontFamily:'sans-serif', 
                padding:5,
                boxWidth:20
                
                
            }
        }
        
    }
});


}
</script>


<script>
        // Warning before leaving the page (back button, or outgoinglink)
        window.onbeforeunload = function() {
            window.localStorage.setItem("slider_id_val_check_dict", JSON.stringify(slider_id_val_check_dict));
        }
</script>   

{%endblock%}