{% extends "webapp/newbase.html" %}
{% block content %}
{%csrf_token%}
{% load static from staticfiles%}

<!-- 
<nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="#">Mobile Analytics</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
             
                        <li><a href="{%url 'mobileview'%}">Home</a></li>
                        <li><a href="#" >About</a></li>
                        {% if  user.is_authenticated %}
                        <li><p id="username">{{ user.get_username }}</p></li>
                        <li><a href="{% url 'logout'%}">Logout</a></li>   
                        {% else %}
                        <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>   
                        {% endif %}  
                </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
            
          </div>
        </div>
      </nav>
         -->
      <div class="container-fluid text-center">    
        <div class="row content">
          <div class="col-sm-2 sidenav" style="background:black">
                <!-- <ul class="nav nav-pills nav-stacked">
                      
                        <li><a href="#section2">User Profile</a></li>
                </ul><br> -->
          </div>
        <div class="col-sm-8 text-left"> 
            
            <div class="container latest-product-section"> 
                <div id="ft_lst_div"></div>
                <button onclick="getSelOptions()">selected options</button>
                
              
            </div>                 
                            
               
          </div>
          <div class="col-sm-2 sidenav"  style="background:black">
            <div class="well">
          
            </div>
            <div class="well">
            
            </div>
          </div>
        </div>
      </div>
      
      <footer class="container-fluid text-center">
        <p>Footer Text</p>
      </footer>
 
           

    <script>
        var range_filter_list=['price','Size']
        
        $(document).ready(function () {
            $.ajax({
                                url: "{% url 'filter' %}",
                                type:'GET',
                                'data': {
                                // 'csrfmiddlewaretoken': '{{ csrf_token }}',
                                },
                                dataType: "json",
                                
                                success: function(data){
                                    console.log("data[feat]",data['feat'])
                                    console.log("data[filterfeature]",data['data_filter_feature'])
                                    var feats=data['feat'];
                                    var filt_feats_data=data['data_filter_feature'];
                                    var ul=$('<ul/>',{id:'feat_ul'}).appendTo("#ft_lst_div");
                                    // var s = $('<select />',{'id':'feat_list'}).appendTo("#ft_lst_div");
                                     for (fts in feats){

                                            var li=$('<li/>',{'id':feats[fts].feature+'-'+feats[fts].id}).appendTo('#feat_ul');
                                            var div_row=$('<div/>',{'class':'row'}).appendTo(li);
                                            var div_col_md_1=$('<div/>',{'class':'col-md-4'}).appendTo(div_row);
                                            var p_elem=$('<p/>',{'text':feats[fts].feature}).appendTo(div_col_md_1);
                                            // condition for range values..
                                            // first check the feature in range_filter_list to see if range is required
                                            // get data from filt_feats_data of the related feat
                                            // divide it into two parts. 
                                            // create divs and selects on 2 parts. 
                                            console.log("feats[fts].feature",feats[fts].feature);
                                            if(range_filter_list.includes(feats[fts].feature)){
                                                    console.log("mmm",filt_feats_data[feats[fts].feature]);
                                                    var feat_data=filt_feats_data[feats[fts].feature];
                                                    var len=filt_feats_data[feats[fts].feature].length;
                                                    if (feat_data.length%2===0){
                                                        console.log(feat_data.length/2)
                                                        var temparr=feat_data.slice(0,feat_data.length/2);
                                                        var temparr2=feat_data.slice(feat_data.length/2,feat_data.length);
                                                        console.log(temparr)
                                                        console.log(temparr2)
                                                        var feat_two_parts=[];
                                                        feat_two_parts.push(temparr);
                                                        feat_two_parts.push(temparr2);
                                                    }
                                                    else{
                                                        var temparr=feat_data.slice(0,feat_data.length/2);
                                                        var temparr2=feat_data.slice(feat_data.length/2,feat_data.length);
                                                        console.log(temparr)
                                                        console.log(temparr2)
                                                        var feat_two_parts=[];
                                                        feat_two_parts.push(temparr);
                                                        feat_two_parts.push(temparr2);
                                                    }
                                                for (var j=0;j<2;j++){
                                                    var div_col_md_2=$('<div/>',{'class':'col-md-2'}).appendTo(div_row);
                                                    var sel = $('<select />',{'id':"select-"+feats[fts].feature+'-'+feats[fts].id+"."+fts+"_"+j,'class':"form-control"}).appendTo(div_col_md_2);
                                                    $('<option />', {value: "", text: "Blank"}).appendTo(sel);
                                                    for(var val in feat_two_parts[j]) {
                                                         $('<option />', {value: feat_two_parts[j][val], text: feat_two_parts[j][val]}).appendTo(sel);
                                                    }
                                                }
                                            }else{
                                                var div_col_md_4=$('<div/>',{'class':'col-md-4'}).appendTo(div_row);
                                                var sel = $('<select />',{'id':"select-"+feats[fts].feature+'-'+feats[fts].id+"_"+fts,'class':"form-control"}).appendTo(div_col_md_4);
                                                $('<option />', {value: "", text: "Blank"}).appendTo(sel);
                                                for(var val in filt_feats_data[feats[fts].feature]) {
                                                     $('<option />', {value: filt_feats_data[feats[fts].feature][val], text: filt_feats_data[feats[fts].feature][val]}).appendTo(sel);
                                                }
                                            }
                                           
                                     }
                                }
                            });
        });
        function getSelOptions(){
            var temp_list=[];
            var tempdic={};
            $('select[id^="select-"]').each(function () {
                var id=this.id;
                var selfeat=id.split('-')
                if (range_filter_list.includes(selfeat[1])){
                    console.log("tmp dic key -value",tempdic[selfeat[1]])
                    if (tempdic[selfeat[1]]==undefined)
                    {
                        tempdic[selfeat[1]]=[$(this).val()]
                    }
                    else{
                        tempdic[selfeat[1]].push($(this).val());
                    }
                }
                else{
                    tempdic[selfeat[1]]=$(this).val();
                    
                   
                }
                console.log('tempdic',tempdic)
            });
            $.ajax({
                                url: "{% url 'filter' %}",
                                type:'POST',
                                'data': {
                                'filt_opt_sel':JSON.stringify(tempdic),
                                 'csrfmiddlewaretoken': '{{ csrf_token }}',
                                },
                                dataType: "json",
                                
                                success: function(data){
                                     window.location.assign("{%url 'mobileview'%}");
                                   
                                }
            });             
        }
        
      window.addEventListener( "pageshow", function ( event ) {
        var historyTraversal = event.persisted || 
        ( typeof window.performance != "undefined" && 
        window.performance.navigation.type === 2 );
                if ( historyTraversal ) {
                window.location.reload();
            }
        });
    $("#first-choice").change(function() {
        var selected_id =$("#first-choice").val();
        console.log("first choice",selected_id)
        $('#first_choice_value').val(selected_id);
        //alert(selected_id);
    });
    $("#first-choice2").change(function() {
        var selected_id =$("#first-choice2").val();
        $('#first_choice2_value').val(selected_id);
        //alert(selected_id);
    });
    $("#second-choice").change(function() {
        var selected_id =$("#second-choice").val();
        $('#second_choice_value').val(selected_id);
        //alert(selected_id);
    });
    $("#third-choice").change(function() {
        var selected_id =$("#third-choice").val();
        $('#third_choice_value').val(selected_id);
        //alert(selected_id);
    });
    $("#fourth-choice").change(function() {
        var selected_id =$("#fourth-choice").val();
        $('#fourth_choice_value').val(selected_id);
        //alert(selected_id);
    });
    $("#fourth-choice2").change(function() {
        var selected_id =$("#fourth-choice2").val();
        $('#fourth_choice2_value').val(selected_id);
        //alert(selected_id);
    });
    $("#fifth-choice").change(function() {
        var selected_id =$("#fifth-choice").val();
        $('#fifth_choice_value').val(selected_id);
        //alert(selected_id);
    });
    $("#six-choice").change(function() {
        var selected_id =$("#six-choice").val();
        $('#six_choice_value').val(selected_id);
        //alert(selected_id);
    });
    $("#seven-choice").change(function() {
        var selected_id =$("#seven-choice").val();
        $('#seven_choice_value').val(selected_id);
        //alert(selected_id);
    });
    $("#eight-choice").change(function() {
        var selected_id =$("#eight-choice").val();
        $('#eight_choice_value').val(selected_id);
        //alert(selected_id);
    });
    $("#nine-choice").change(function() {
        var selected_id =$("#nine-choice").val();
        $('#nine_choice_value').val(selected_id);
        //alert(selected_id);
    });
    $("#ten-choice").change(function() {
        var selected_id =$("#ten-choice").val();
        $('#ten_choice_value').val(selected_id);
        //alert(selected_id);
    });
    $("#eleven-choice").change(function() {
        var selected_id =$("#eleven-choice").val();
        $('#eleven_choice_value').val(selected_id);
        //alert(selected_id);
    });
    $("#twelve-choice").change(function() {
        var selected_id =$("#twelve-choice").val();
        $('#twelve_choice_value').val(selected_id);
        //alert(selected_id);
    });
    </script>
    
{% endblock  %}