{% extends "webapp/newbase.html" %}
{% block content %}
{% load static from staticfiles%}
<!-- <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand">Mobile Analytics</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
             
              <li><a href="{%url 'homepage'%}">Home </a></li>
             
              <li><a href="{% url 'mobileview'%}">Mobiles Catalog</a>
              <li><a href="#" >About</a></li>
              {% if  user.is_authenticated %}
              <li><p id="username">{{ user.get_username }}</p></li>
              <li><a href="{% url 'logout'%}">Logout</a></li> 
              
              {% else %}
              <li><a href="{% url 'login'%}?next={{request.path}}">Login </a></li>   
              {% endif %}  
            </ul>
            <!--<ul class="nav navbar-nav navbar-right">
              <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>-->
    <!-- </div>
  </div>
</nav>  -->
      <div class="container-fluid text-center">    
            <div class="row content">
              <div class="col-md-3 sidenav sidenav_custom ">
                  <div class='container-fluid'>
                    {% with template_sidebar=template_sidebar %}
                    {% include template_sidebar %}
                    {% endwith %}
                  </div>
               
                   
              </div>
            <div class="col-md-8 text-left " > 
                  <span style="color: #009688;font-weight: 1000;text-transform: uppercase;">Dashboard</span>
                  <hr>
                  {% with template_main=template_main_homepage %}
                  {% include template_main %}
                  {% endwith %}
              </div>
              <div class="col-md-1 sidenav sidenav_custom">
                <div class="row">

                <div class=""   id="lc" style="position: fixed"></div>
                </div>
              </div>
            </div>
      </div>

          <footer>
		
              <div class="container-fluid" style='margin-left:15px'>
                  <p><a href="#" target="blank">Contact</a> | <a href="#" target="blank">LinkedIn1</a> | <a href="#" target="blank">Twitter</a> | <a href="#" target="blank">Google+</a></p>
              </div>
         </footer>	
{% endblock %}


