{% extends "webapp/newbase.html" %}
{% block content %}
{%load static from staticfiles%}

        
      <div class="container-fluid text-center">    
        <div class="row content maincontentblur"  id='maincontent'>
            <div class="col-sm-3 sidenav" >
                    <div class='container-fluid'>
                       {% with template_sidebar=template_sidebar %}
                        {% include template_sidebar %}
                        {% endwith %} 
                    </div>    
            </div>
          
        <div class="col-sm-8 col-md-8 text-left" > 
            <div id="dialog" title="Select Mobile Phones">
                    <p>Now You will be asked to Select Mobile Phones for comparison. </p>
            </div>
            <div id="mobile_catalog_div">
            <div class="latest-product-section"> 
                    {%  for mob in mobiles  %}
   
                    {% if forloop.counter0|divisibleby:3 %} 
                    <div class="row text-center"> {%  endif %}

                            <div class="col-md-4 col-lg-4 col-xs-12 sm-margin-b-50 pull-left">
                                    <div class="margin-b-20" >
                                    <h4></h4>
                                    <input  class="custom_checkbox"type="checkbox" value={{mob.id}} id={{mob.id}} name={{mob.id}}-{{mob.Mobile_Name}}  onchange="toggleCheckbox(this)"> 
                                    <img class="img-responsive" src="{% static mob.imagepath1 %}"  alt="Latest Products Image"  title=""/>
                                        </div>
                                    <div id="crit">
                                        


                                    <h4> <span class="text-uppercase margin-l-20">{{mob.Mobile_Name}}</span></h4>
                                    </div>

                                <!--
                                    <h4><a href="{% url 'mobileinfo' id=mob.id %}">{{mob.Mobile_Companny}}</a> <span class="text-uppercase margin-l-20">{{mob.Mobile_Name}}</span></h4>
                                    <h4><a href = "{% url 'mobileinfo' id=mob.id %}"> Price </a><span class="text-uppercase margin-l-20">{{mob.price}}</span></h4>
                                    <h4>{{mob.os}}</h4>
                                    <h4><a href = "{% url 'mobileinfo' id=mob.id %}"> Size </a><span class="text-uppercase margin-l-20">{{mob.Size}}-Inch</span></h4>
                                    <h4><a href = "{% url 'mobileinfo' id=mob.id %}"> Color </a><span class="text-uppercase margin-l-20">{{mob.Colors}}</span></h4>
                                    <h4><a href = "{% url 'mobileinfo' id=mob.id %}"> Cpu </a><span class="text-uppercase margin-l-20">{{mob.Cpu}}</span></h4>
                                                                        <h4><a href = "{% url 'mobileinfo' id=mob.id %}"> OS </a><span class="text-uppercase margin-l-20">{{mob.OS}}</span></h4>
                                  -->
                                    <a class="link btn btn-success" href="{% url 'mobileinfo' id=mob.id %}">
                                        {% filter upper %}
                                            Read More
                                        {% endfilter %}</a>
                                   
                            </div>
                {%  if forloop.counter|divisibleby:3 or forloop.last %}
                    </div><!-- row closing --><hr>
                    {%  endif %}
                {%  endfor %}
               
                
                  
            </div>   
    </div>
                          
            <div class="pagination" id="pager_div" >
                    <span class="step-links" >
                        {% if mobiles.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ mobiles.previous_page_number }}">previous</a>
                        {% endif %}
                        
                        <span class="current">
                            Page {{ mobiles.number }} of {{ mobiles.paginator.num_pages }}.
                        </span>
                    
                        {% if mobiles.has_next %}
                            <a href="?page={{ mobiles.next_page_number }}">next</a>
                            <a href="?page={{ mobiles.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>              
               
        </div>
          <div class="col-sm-1 sidenav">
                <div class="row">
                    <div class=""   id="lc" style="position: fixed"></div>
                </div>
          </div>
        </div>
        <footer>
		
            <div class="container-fluid" style='margin-left:15px'>
                <p><a href="#" target="blank">Contact</a> | <a href="#" target="blank">LinkedIn1</a> | <a href="#" target="blank">Twitter</a> | <a href="#" target="blank">Google+</a></p>
            </div>
       </footer>	

      </div>
      
    <script>
        var arr=[];
       // Because of this code when subject logs in and goes to filter_mobile_view first it loads all mobile 
       // phones and then on refresh it loads the selected phones. 
        window.addEventListener( "pageshow", function ( event ) {
        var historyTraversal = event.persisted || 
        ( typeof window.performance != "undefined" && 
        window.performance.navigation.type === 2 );
                if ( historyTraversal ) {
                window.location.reload();
                $(".sidenav_testing").hide()
            }
        });
        function toggleCheckbox(element){      
        if (element.checked == true){
        console.log(element.id);
         
            if (arr.length ===3){
                alert("Array full ");
                element.checked=false;
            }
            else {
                    arr.push(element.id);
            }
        } 
        else {            
            arr.pop(element.id);
        }
        function myfunc(){ 
            console.log("button clicked",arr);

            $.ajax({
                    type: 'POST',
                    dataType: "json",
                   
                    'data': {
                    'mobiledata': JSON.stringify(arr),
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    
                    },
                    url: "{% url 'showmobile' %}",
                    success: function(response){
                        // console.log(response['subject_block'])
                        // localStorage.removeItem("slider_id_val_check_dict");

                        // localStorage.removeItem("critlist_val_dict");

                        // window.location="{%url 'criteria_weights'%}"
                    //  if (response['subject_block'].includes("W.direct")){
                    //         alert("W>DIRECT")
                    //         localStorage.removeItem("slider_id_val_check_dict");

                    //         localStorage.removeItem("critlist_val_dict");

                    //         window.location="{%url 'criteria_weights'%}"
                    //     }
                    //     else{
                    //     // GET BLOCKS AND REDIRECT based on it.
                    //     window.location="{%url 'comparemobilespecsfilt_ver'%}"
                    //     }
                        if (response['subject_block'].includes("W.direct")){
                            localStorage.removeItem("slider_id_val_check_dict");

                            localStorage.removeItem("critlist_val_dict");

                            window.location="{%url 'criteria_weights'%}"
                        }
                        else{
                        // GET BLOCKS AND REDIRECT based on it.
                        window.location="{%url 'comparemobilespecsfilt_ver'%}"
                        }
                
                     
                    
                    }
                    
                    });
           
                   
            // get arr and send it to view. 
            // according to the id display the result in a table
        }
        $(document).ready(function () {
                // alert(JSON.stringify(arr));

                if(arr.length>2){
                var elem=document.getElementById('comparebtn_id');
                    if (elem===null)  {
                       
                        var btn = document.createElement("BUTTON");
                        btn.id="comparebtn_id";
                        var t = document.createTextNode("Compare");  
                        btn.appendChild(t);
                        btn.onclick=myfunc;
                        document.getElementById('lc').appendChild(btn);     
                         $('#comparebtn_id').addClass('btn'); 
                         $('#comparebtn_id').addClass('btn-success');   
                         $('#comparebtn_id').addClass('btn-success-edit');        
                        
                    }
                }
                else if (arr.length <=2 ){
                    console.log("in condition");
                    var elem=document.getElementById('comparebtn_id');
                    
                   if (elem!==null){
                    document.getElementById('comparebtn_id').remove();
                   }
                }
                $('.sidenav_testing').hide();                    


        
        });
 }
 $(document).ready(function () {
                $(".sidenav_testing").hide();
                $.ajax({
                url: "{% url 'get_mobile_data' %}",
                type:'GET',
                'data': {
                },
                dataType: "json",
                success: function(data){


                    var pagevisited=data['pagevisited'];
                    if (pagevisited==="true"){
                        $("#pager_div").hide();
                        $(".custom_side_rows").hide();
                        $('#mobile_catalog_div').empty();
                        $('#mobile_catalog_div').append("<h1>Sorry please go to next page.</h1>")

                    }
                    else{    
                        $(".custom_side_rows").show();

                        $('#mobile_catalog_div').empty();
                        // $('#pager_div').empty();
                        // var json_data_mobiles=data['samsung_phones']
                        var json_data_mobiles=data['mobilephones'];
                        specmobphones=data['mobilephones'];
                        var catalogcrit_show_list=data['catalogcrit_show_list']
                        // var row_fluid=document.createElement('div');
                        // row_fluid.setAttribute('class','row-fluid');
                        // row_fluid.setAttribute('id','mobile_catalog_div');
                        row_fluid=$('#mobile_catalog_div');
                        var row=document.createElement('div');
                        row_fluid.append(row);
                        var heading=document.createElement("h4");
                        heading.innerHTML="Mobile Catalog"
                        heading.setAttribute('style','color: #009688;font-weight: 1000')
                        row.append(heading)
                        
                        row.setAttribute('class','row');
                        var row=document.createElement('div');
                        row.setAttribute('class','row');
                        row_fluid.append(row);
                        var col_md_12=document.createElement("div");
                        col_md_12.setAttribute('class','col-md-12');
                        row.append(col_md_12);
                        var lps=document.createElement("div");
                        lps.setAttribute("class",'latest-product-section');
                        col_md_12.append(lps);
                        var rtc=document.createElement('DIV');
                        rtc.setAttribute("class","row text-center");
                        rtc.id="grid";
                        lps.append(rtc);

                    

                        for (var i=0;i<json_data_mobiles.length;i++){
                            
                        //     if (i%3===0 && i!==0){
                        //         var hr=document.createElement('hr');
                        //         lps.append(hr); 
                        //         var rtc=document.createElement('DIV');
                        //         rtc.setAttribute("class","row text-center");
                        //         lps.append(rtc);
                                
                        //     }
                            var col_md_4_post=document.createElement('DIV');
                            col_md_4_post.setAttribute("class","col-md-4 sm-margin-b-50 pull-left post");
                            col_md_4_post.id=json_data_mobiles[i]['id'];
                            rtc.append(col_md_4_post);
                            var margin_b_20=document.createElement('DIV');
                            margin_b_20.setAttribute("class","margin-b-20");
                            col_md_4_post.append(margin_b_20);
                            var input_checkb=document.createElement('input');
                            input_checkb.type="checkbox";
                            input_checkb.setAttribute("class","custom_checkbox")

                            
                            
                            input_checkb.value=json_data_mobiles[i]['id'];
                            input_checkb.id=json_data_mobiles[i]['id'];
                            input_checkb.name=json_data_mobiles[i]['id']+"-"+json_data_mobiles[i]['Mobile_Name'];
                            input_checkb.setAttribute('onchange','toggleCheckbox(this)')
                            var img=document.createElement('img');
                            img.setAttribute('class','img-responsive')
                            // console.log("/static/"+json_data_mobiles[i]['imagepath1'])
                            img.src="/static/"+json_data_mobiles[i]['imagepath1'];

                            margin_b_20.append(input_checkb);
                            margin_b_20.append(img);
                            var mobile_name_p=document.createElement('p')
                            mobile_name_p.innerHTML=json_data_mobiles[i]['Mobile_Name']
                            col_md_4_post.append(mobile_name_p)         
                            for (var j in catalogcrit_show_list ){
                                
                                var mobile_crit_p=document.createElement('p')
                                mobile_crit_p.innerHTML=catalogcrit_show_list[j]+":"+json_data_mobiles[i][catalogcrit_show_list[j]]
                                col_md_4_post.append(mobile_crit_p)
                            }
                            // var mobile_name_p=document.createElement('p')
                            // mobile_name_p.innerHTML=json_data_mobiles[i]['Mobile_Name']
                            // col_md_4_post.append(mobile_name_p)
                            // var mobile_price_p=document.createElement('p')
                            // mobile_price_p.innerHTML=json_data_mobiles[i]['price']
                            // col_md_4_post.append(mobile_price_p)
                            var link=document.createElement('a');
                            link.setAttribute('class','link btn btn-success');
                            link.target="_blank"
                            // took alot of time finding this solution...
                            var url = "{% url 'mobileinfo' id=4  %}".replace("4", json_data_mobiles[i]['id']);
                            link.href= url;

                            link.text="READ MORE";
                            col_md_4_post.append(link); 
                            $('#pager_div').empty();
                            var pager_div=document.getElementById('pager_div');
                            var pager=document.createElement("div");
                            pager.setAttribute('class','turn-page');
                            pager.id="pager";
                            pager_div.append(pager);
                            $("#mobile_catalog_div").cPager({
                                // how many items per page
                                pageSize:5,
                                // container ID
                                pageid: "pager",
                                // item class
                                itemClass: "post",
                                pageIndex: 1
                                });
                                $("#pager").show();
                            
                } 
                        
                    }
                  
                        $( "#dialog" ).dialog({
                        resizable: false,
                        height: "auto",
                        width: 400,
                        modal: true,
                        
                        buttons: {
                            "ok": function() {
                                var maincontent=$('#maincontent')
                                maincontent.attr('class',"row content")
                                $( this ).dialog( "close" );


                                },
                                // Cancel: function() {
                                //   $( this ).dialog( "close" );
                                // }
                            }
                            });
                }    
            });

 });


     </script>
{%endblock%}