{% extends "webapp/crudexperiment/base_experiment.html" %}
{% block content %}
{%load static from staticfiles%}




<div class="container-fluid text-center "> 
    <!-- MAIN ROW CONTENT DIV  -->

    <div class="row content">
        <!-- 1st SIDEBAR COL DIV -->
        <div class="col-md-3" style='background-color:#c6c8ca'>
            <div>
                <h3>Choose Experiment</h3>
            </div>
            <div>
                <ul>
                    {% for item in explist %}

                    <li onclick='selectedExp($(this))'>{{ item }}</li>
                    {% endfor %}
                
                </ul>
            </div>
        </div>

        <div class="col-md-7 text-center"  > 
            <div class="row">
                <div class='col-md-12'>
                    <h2 id=""><strong>Create Survey Form</strong></h2>
                </div>
            </div>
            <div class="row" id= "instructions">
                <div class='col-md-12'>
                </br></br></br></br>
                    <h4 id="">To Add questions to the survey , please press the Add New Question button on the right panel !!!</h4>
                </div>
            </div>

            <div class='allquestions' >
            </div>
        </div>
        <div class="col-md-2" style='background-color:#c6c8ca'>
            <button type="button" class="btn" style="padding: 6px; border-radius: 4px; color: #fff;background-color: #337ab7; border-color: #2e6da4;" onclick="addQuestion()">Add New Question</button>
            <button type="button" class="btn btn-success" style="padding: 6px; margin: auto; border-radius: 4px; color: #fff;background-color: #5cb85c; border-color: #4cae4c;" onclick="saveQuestion()">Save & Preview</button>
        </div>  
    </div>
</div>


<script>
var questioncount=0
var expselected=""
function selectFunc(element){
    
    selectedValue=$(element).find(":selected").val()
    console.log("great grandfather id ",$(element).parent().parent().parent().attr('id'))
    great_grandfather_id=$(element).parent().parent().parent().attr('id')
    if  (selectedValue==='matrix'){
        $('#sub_ques_row_'+great_grandfather_id).remove()

        var col_md_12_ques_one=$("#"+great_grandfather_id)

        var main_row_div= $("<div class='row' id='sub_ques_row_"+great_grandfather_id+"'></div>");
        $(col_md_12_ques_one).append(main_row_div);

        var sub_ques_col=$("<div class='col-md-12' id='sub_ques_col_"+great_grandfather_id+"'></div>");
        $(main_row_div).append(sub_ques_col);

        var row_div_one=$("<div class='row'></div>");
        // Question Name
        var col_one__row_div_one=$("<div class='col-md-12'></div>");
            var row__col_one__row_div_one=$("<div class='row'></div>");
                colmd1=$("<div class='col-md-3'></div>")
                colmd2=$("<div class='col-md-4'></div>")

                quest_name_label=$("<label for='quest_name_tag' class='custom_label_css textcolor' >Question Tag</label>");
                colmd1.append(quest_name_label)

                quest_name_input=$("<input class='input_field' id='quest_name_input' class='custom_input_css'>")
                colmd2.append(quest_name_input)

            row__col_one__row_div_one.append(colmd1);
            row__col_one__row_div_one.append(colmd2);
        col_one__row_div_one.append(row__col_one__row_div_one);

        $(row_div_one).append(col_one__row_div_one);

    var row_div_two=$("<div class='row'></div>");
        // Question Title
        var col_one__row_div_two=$("<div class='col-md-12'></div>");
            var row__col_one__row_div_two=$("<div class='row'></div>");
                colmd1=$("<div class='col-md-3'></div>")
                colmd2=$("<div class='col-md-8'></div>")

                quest_title_label=$("<label class='custom_label_css textcolor'>Title</label>");
                colmd1.append(quest_title_label);
                quest_title_input=$("<input class='input_field custom_input_css' id='quest_title_input'></input>")
                colmd2.append(quest_title_input);

            row__col_one__row_div_two.append(colmd1)
            row__col_one__row_div_two.append(colmd2)
        col_one__row_div_two.append(row__col_one__row_div_two)

        $(row_div_two).append(col_one__row_div_two);


    var row_div_three=$("<div class='row' id='noofcolrowdiv__"+great_grandfather_id+"'></div>");
        // No of columns
    var coldiv=$("<div class='col-md-12'></div>")
        var row=$("<div class='row' ></div>")
            var col_one__row_div_three=$("<div class='col-md-12'></div>");
                var row__col_one__row_div_three=$("<div class='row'></div>");
                    colmd1=$("<div class='col-md-3'></div>")
                    colmd2=$("<div class='col-md-1'></div>")
                    colmd3=$("<div class='col-md-6'></div>")

                    No_of_col_label=$("<label class='custom_label_css textcolor'>Number of Columns</label>");
                    colmd1.append(No_of_col_label);
                    No_of_col_input=$("<input class='input_field custom_input_css' id='noofcol__"+great_grandfather_id+"'></input>")
                    colmd2.append(No_of_col_input);
                    no_of_col_button=$("<button type='button' style='padding: 6px; border-radius: 4px; color: #fff;background-color: #27a69a; border-color: #2e6da4;' id='submitcol__"+great_grandfather_id+"' class= 'btn btn-secondary' onclick='genColButton($(this))'>Generate</button>")
                    colmd3.append(no_of_col_button);

                row__col_one__row_div_three.append(colmd1)
                row__col_one__row_div_three.append(colmd2)
                row__col_one__row_div_three.append(colmd3)

                col_one__row_div_three.append(row__col_one__row_div_three)
            row.append(col_one__row_div_three)
        coldiv.append(row)
    $(row_div_three).append(coldiv);

    var row_div_four=$("<div class='row' id='noofrowsdiv__"+great_grandfather_id+"'></div>");
        // No of rows
    var coldiv=$("<div class='col-md-12'></div>")
        var row=$("<div class='row' ></div>")
            var col_one__row_div_four=$("<div class='col-md-12'></div>");
                var row__col_one__row_div_four=$("<div class='row'></div>");
                    colmd1=$("<div class='col-md-3'></div>")
                    colmd2=$("<div class='col-md-1'></div>")
                    colmd3=$("<div class='col-md-6'></div>")

                    No_of_row_label=$("<label class='custom_label_css textcolor'>Number of Rows</label>");
                    colmd1.append(No_of_row_label);
                    No_of_row_input=$("<input class='input_field custom_input_css' id='noofrows__"+great_grandfather_id+"'></input>")
                    colmd2.append(No_of_row_input);
                    no_of_row_button=$("<button type='button' style='padding: 6px; border-radius: 4px; color: #fff;background-color: #27a69a; border-color: #2e6da4;' id='submitrow__"+great_grandfather_id+"' class= 'btn btn-secondary' onclick='genRowButton($(this))'>Generate</button>")
                    colmd3.append(no_of_row_button);

                row__col_one__row_div_four.append(colmd1)
                row__col_one__row_div_four.append(colmd2)
                row__col_one__row_div_four.append(colmd3)

                col_one__row_div_four.append(row__col_one__row_div_four)
            row.append(col_one__row_div_four)
        coldiv.append(row)
    $(row_div_four).append(coldiv);

    
    $(sub_ques_col).append(row_div_one);
    $(sub_ques_col).append(row_div_two);
    $(sub_ques_col).append(row_div_three);
    $(sub_ques_col).append(row_div_four);


    
}
    else if (selectedValue==='rating'){
        $('#sub_ques_row_'+great_grandfather_id).remove()

        var col_md_12_ques_one=$("#"+great_grandfather_id)

        var main_row_div= $("<div class='row' id='sub_ques_row_"+great_grandfather_id+"'></div>");
        $(col_md_12_ques_one).append(main_row_div);

        var sub_ques_col=$("<div class='col-md-12' id='sub_ques_col_"+great_grandfather_id+"'></div>");
        $(main_row_div).append(sub_ques_col);

        var row_div_one=$("<div class='row'></div>");
        // Question Name
        var col_one__row_div_one=$("<div class='col-md-12'></div>");
            var row__col_one__row_div_one=$("<div class='row'></div>");
                colmd1=$("<div class='col-md-3'></div>")
                colmd2=$("<div class='col-md-4'></div>")

                quest_name_label=$("<label for='quest_name_tag' class='custom_label_css textcolor'>Question Tag</label>");
                colmd1.append(quest_name_label)

                quest_name_input=$("<input class='input_field' id='quest_name_input' class='custom_input_css'>")
                colmd2.append(quest_name_input)

            row__col_one__row_div_one.append(colmd1);
            row__col_one__row_div_one.append(colmd2);
        col_one__row_div_one.append(row__col_one__row_div_one);

    $(row_div_one).append(col_one__row_div_one);

    var row_div_two=$("<div class='row'></div>");
        // Question Title
        var col_one__row_div_two=$("<div class='col-md-12'></div>");
            var row__col_one__row_div_two=$("<div class='row'></div>");
                colmd1=$("<div class='col-md-3'></div>")
                colmd2=$("<div class='col-md-8'></div>")

                quest_title_label=$("<label class='custom_label_css textcolor'>Title</label>");
                colmd1.append(quest_title_label);
                quest_title_input=$("<input class='input_field custom_input_css' id='quest_title_input'></input>")
                colmd2.append(quest_title_input);

            row__col_one__row_div_two.append(colmd1)
            row__col_one__row_div_two.append(colmd2)
        col_one__row_div_two.append(row__col_one__row_div_two)

    $(row_div_two).append(col_one__row_div_two);
    
    var row_div_three=$("<div class='row'></div>");
        // Rate descriptions
        var col_one__row_div_three=$("<div class='col-md-6'></div>");
            var row__col_one__row_div_three=$("<div class='row'></div>");
                colmd1=$("<div class='col-md-6'></div>")
                colmd2=$("<div class='col-md-4'></div>")

                rate_descrip_label=$("<label class='custom_label_css textcolor'>Minimum Rate Description</label>");
                colmd1.append(rate_descrip_label);
                rate_descrip_input=$("<input class='input_field custom_input_css' id='min_rate_descrip_input'></input>")
                colmd2.append(rate_descrip_input);

            row__col_one__row_div_three.append(colmd1)
            row__col_one__row_div_three.append(colmd2)
        col_one__row_div_three.append(row__col_one__row_div_three)

    $(row_div_three).append(col_one__row_div_three);

        var col_two__row_div_three=$("<div class='col-md-6'></div>");
            var row__col_two__row_div_three=$("<div class='row'></div>");
                colmd1=$("<div class='col-md-6'></div>")
                colmd2=$("<div class='col-md-4'></div>")

                max_rate_descrip_label=$("<label class='custom_label_css textcolor'>Maximum Rate Description</label>");
                colmd1.append(max_rate_descrip_label);
                max_rate_descrip_input=$("<input class='input_field custom_input_css' id='max_rate_descrip_input'></input>")
                colmd2.append(max_rate_descrip_input);

            row__col_two__row_div_three.append(colmd1)
            row__col_two__row_div_three.append(colmd2)
        col_two__row_div_three.append(row__col_two__row_div_three)

    $(row_div_three).append(col_two__row_div_three);



$(sub_ques_col).append(row_div_one);
$(sub_ques_col).append(row_div_two);
$(sub_ques_col).append(row_div_three);

    }
    else if (selectedValue==='comment') {
        $('#sub_ques_row_'+great_grandfather_id).remove()

        var col_md_12_ques_one=$("#"+great_grandfather_id)

        var main_row_div= $("<div class='row' id='sub_ques_row_"+great_grandfather_id+"''></div>");
        $(col_md_12_ques_one).append(main_row_div);

        var sub_ques_col=$("<div class='col-md-12' id='sub_ques_col_"+great_grandfather_id+"'></div>");
        $(main_row_div).append(sub_ques_col);

        var row_div_one=$("<div class='row'></div>");
        // Question Name
        var col_one__row_div_one=$("<div class='col-md-12'></div>");
            var row__col_one__row_div_one=$("<div class='row'></div>");
                colmd1=$("<div class='col-md-3'></div>")
                colmd2=$("<div class='col-md-4'></div>")

                quest_name_label=$("<label for='quest_name_tag' class='custom_label_css textcolor'>Question Tag</label>");
                colmd1.append(quest_name_label)

                quest_name_input=$("<input class='input_field' id='quest_name_input' class='custom_input_css'>")
                colmd2.append(quest_name_input)

            row__col_one__row_div_one.append(colmd1);
            row__col_one__row_div_one.append(colmd2);
        col_one__row_div_one.append(row__col_one__row_div_one);

        $(row_div_one).append(col_one__row_div_one);

        var row_div_two=$("<div class='row'></div>");
        // Question Title
        var col_one__row_div_two=$("<div class='col-md-12'></div>");
            var row__col_one__row_div_two=$("<div class='row'></div>");
                colmd1=$("<div class='col-md-3'></div>")
                colmd2=$("<div class='col-md-8'></div>")

                quest_title_label=$("<label class='custom_label_css textcolor'>Title</label>");
                colmd1.append(quest_title_label);
                quest_title_input=$("<input class='input_field custom_input_css ' id='quest_title_input'></input>")
                colmd2.append(quest_title_input);

            row__col_one__row_div_two.append(colmd1)
            row__col_one__row_div_two.append(colmd2)
        col_one__row_div_two.append(row__col_one__row_div_two)

        $(row_div_two).append(col_one__row_div_two);

        $(sub_ques_col).append(row_div_one);
        $(sub_ques_col).append(row_div_two);

}
    else if (selectedValue==='radiogroup') {
            $('#sub_ques_row_'+great_grandfather_id).remove()

            var col_md_12_ques_one=$("#"+great_grandfather_id)

            var main_row_div= $("<div class='row' id='sub_ques_row_"+great_grandfather_id+"''></div>");
            $(col_md_12_ques_one).append(main_row_div);

            var sub_ques_col=$("<div class='col-md-12' id='sub_ques_col_"+great_grandfather_id+"'></div>");
            $(main_row_div).append(sub_ques_col);

            var row_div_one=$("<div class='row'></div>");
            // Question Name
            var col_one__row_div_one=$("<div class='col-md-12'></div>");
                var row__col_one__row_div_one=$("<div class='row'></div>");
                    colmd1=$("<div class='col-md-3'></div>")
                    colmd2=$("<div class='col-md-4'></div>")

                    quest_name_label=$("<label for='quest_name_tag' class='custom_label_css textcolor'>Question Tag</label>");
                    colmd1.append(quest_name_label)

                    quest_name_input=$("<input class='input_field' id='quest_name_input' class='custom_input_css'>")
                    colmd2.append(quest_name_input)

                row__col_one__row_div_one.append(colmd1);
                row__col_one__row_div_one.append(colmd2);
            col_one__row_div_one.append(row__col_one__row_div_one);

            $(row_div_one).append(col_one__row_div_one);

            var row_div_two=$("<div class='row'></div>");
            // Question Title
            var col_one__row_div_two=$("<div class='col-md-12'></div>");
                var row__col_one__row_div_two=$("<div class='row'></div>");
                    colmd1=$("<div class='col-md-3'></div>")
                    colmd2=$("<div class='col-md-8'></div>")

                    quest_title_label=$("<label class='custom_label_css textcolor'>Title</label>");
                    colmd1.append(quest_title_label);
                    quest_title_input=$("<input class='input_field custom_input_css' id='quest_title_input'></input>")
                    colmd2.append(quest_title_input);

                row__col_one__row_div_two.append(colmd1)
                row__col_one__row_div_two.append(colmd2)
            col_one__row_div_two.append(row__col_one__row_div_two)

            $(row_div_two).append(col_one__row_div_two);
            
    var row_div_three=$("<div class='row' id='noofchoicesrowdiv__"+great_grandfather_id+"'></div>");

    var coldiv=$("<div class='col-md-12'></div>")
        var row=$("<div class='row' ></div>")
            var col_one__row_div_three=$("<div class='col-md-12'></div>");
                var row__col_one__row_div_three=$("<div class='row'></div>");
                    colmd1=$("<div class='col-md-3'></div>")
                    colmd2=$("<div class='col-md-1'></div>")
                    colmd3=$("<div class='col-md-6'></div>")

                    No_of_col_label=$("<label class='custom_label_css textcolor'>Number of Choices</label>");
                    colmd1.append(No_of_col_label);
                    No_of_col_input=$("<input class='input_field custom_input_css' id='noofchoices__"+great_grandfather_id+"'></input>")
                    colmd2.append(No_of_col_input);
                    no_of_col_button=$("<button type='button' style='padding: 6px; border-radius: 4px; color: #fff;background-color: #27a69a; border-color: #2e6da4;' id='submitchoices__"+great_grandfather_id+"' class= 'btn btn-secondary' onclick='genChoiceButton($(this))'>Generate</button>")
                    colmd3.append(no_of_col_button);

                row__col_one__row_div_three.append(colmd1)
                row__col_one__row_div_three.append(colmd2)
                row__col_one__row_div_three.append(colmd3)

                col_one__row_div_three.append(row__col_one__row_div_three)
            row.append(col_one__row_div_three)
        coldiv.append(row)
    $(row_div_three).append(coldiv);


            $(sub_ques_col).append(row_div_one);
            $(sub_ques_col).append(row_div_two);
            $(sub_ques_col).append(row_div_three);


    }
    else if (selectedValue==='text') {
            $('#sub_ques_row_'+great_grandfather_id).remove()

            var col_md_12_ques_one=$("#"+great_grandfather_id)

            var main_row_div= $("<div class='row' id='sub_ques_row_"+great_grandfather_id+"''></div>");
            $(col_md_12_ques_one).append(main_row_div);

            var sub_ques_col=$("<div class='col-md-12' id='sub_ques_col_"+great_grandfather_id+"'></div>");
            $(main_row_div).append(sub_ques_col);

            var row_div_one=$("<div class='row'></div>");
            // Question Name
            var col_one__row_div_one=$("<div class='col-md-12'></div>");
                var row__col_one__row_div_one=$("<div class='row'></div>");
                    colmd1=$("<div class='col-md-3'></div>")
                    colmd2=$("<div class='col-md-4'></div>")

                    quest_name_label=$("<label for='quest_name_tag' class='custom_label_css textcolor'>Question Tag</label>");
                    colmd1.append(quest_name_label)

                    quest_name_input=$("<input class='input_field' id='quest_name_input' class='custom_input_css'>")
                    colmd2.append(quest_name_input)

                row__col_one__row_div_one.append(colmd1);
                row__col_one__row_div_one.append(colmd2);
            col_one__row_div_one.append(row__col_one__row_div_one);

            $(row_div_one).append(col_one__row_div_one);

            var row_div_two=$("<div class='row'></div>");
            // Question Title
            var col_one__row_div_two=$("<div class='col-md-12'></div>");
                var row__col_one__row_div_two=$("<div class='row'></div>");
                    colmd1=$("<div class='col-md-3'></div>")
                    colmd2=$("<div class='col-md-8'></div>")

                    quest_title_label=$("<label class='custom_label_css textcolor'>Title</label>");
                    colmd1.append(quest_title_label);
                    quest_title_input=$("<input class='input_field custom_input_css' id='quest_title_input'></input>")
                    colmd2.append(quest_title_input);

                row__col_one__row_div_two.append(colmd1)
                row__col_one__row_div_two.append(colmd2)
            col_one__row_div_two.append(row__col_one__row_div_two)

            $(row_div_two).append(col_one__row_div_two);

            $(sub_ques_col).append(row_div_one);
            $(sub_ques_col).append(row_div_two);
    }
    else if (selectedValue==='multipletext') {
            $('#sub_ques_row_'+great_grandfather_id).remove()

            var col_md_12_ques_one=$("#"+great_grandfather_id)

            var main_row_div= $("<div class='row' id='sub_ques_row_"+great_grandfather_id+"''></div>");
            $(col_md_12_ques_one).append(main_row_div);

            var sub_ques_col=$("<div class='col-md-12' id='sub_ques_col_"+great_grandfather_id+"'></div>");
            $(main_row_div).append(sub_ques_col);

            var row_div_one=$("<div class='row'></div>");
            // Question Name
            var col_one__row_div_one=$("<div class='col-md-12'></div>");
                var row__col_one__row_div_one=$("<div class='row'></div>");
                    colmd1=$("<div class='col-md-3'></div>")
                    colmd2=$("<div class='col-md-4'></div>")

                    quest_name_label=$("<label for='quest_name_tag' class='custom_label_css textcolor'>Question Tag</label>");
                    colmd1.append(quest_name_label)

                    quest_name_input=$("<input class='input_field' id='quest_name_input' class='custom_input_css'>")
                    colmd2.append(quest_name_input)

                row__col_one__row_div_one.append(colmd1);
                row__col_one__row_div_one.append(colmd2);
            col_one__row_div_one.append(row__col_one__row_div_one);

            $(row_div_one).append(col_one__row_div_one);

            var row_div_two=$("<div class='row'></div>");
            // Question Title
            var col_one__row_div_two=$("<div class='col-md-12'></div>");
                var row__col_one__row_div_two=$("<div class='row'></div>");
                    colmd1=$("<div class='col-md-3'></div>")
                    colmd2=$("<div class='col-md-8'></div>")

                    quest_title_label=$("<label class='custom_label_css textcolor'>Title</label>");
                    colmd1.append(quest_title_label);
                    quest_title_input=$("<input class='input_field custom_input_css textcolor' id='quest_title_input'></input>")
                    colmd2.append(quest_title_input);

                row__col_one__row_div_two.append(colmd1)
                row__col_one__row_div_two.append(colmd2)
            col_one__row_div_two.append(row__col_one__row_div_two)

            $(row_div_two).append(col_one__row_div_two);

            $(sub_ques_col).append(row_div_one);
            $(sub_ques_col).append(row_div_two);
    }
    else{
        $('#sub_ques_row_'+great_grandfather_id).remove()

}
}
function genColButton(elem){
    var buttonid=$(elem).attr('id');
    arr=buttonid.split("__")
    console.log("arr",arr)
    console.log("buttonid",buttonid);

    var columninput= $("#noofcol__"+arr[1]+"").val();
    console.log("columnInput",columninput)

    var colrowdiv=$("#noofcolrowdiv__"+arr[1])
    $("#columnsdiv__"+arr[1]).remove();
    var coldiv=$('<div class="col-md-12" id="columnsdiv__'+arr[1]+'""></div>')

    for (i=0;i<columninput;i++){
                var row=$('<div class="row"></div>');
                    var colmd12=$("<div class='col-md-10'></div>");
                        var label=$('<label class="textcolor" style= "padding: inherit">Column '+(i+1)+'</label>')
                        var input=$("<input class ='generate_input' id='col_"+(i+1)+"_input'></input>")
                    colmd12.append(label);
                    colmd12.append(input);
                row.append(colmd12);
        coldiv.append(row)                
    }
    colrowdiv.append(coldiv);

    
}
function genRowButton(elem){
    var buttonid=$(elem).attr('id');
    arr=buttonid.split("__")

    var rowinput= $("#noofrows__"+arr[1]+"").val();    
    var colrowdiv=$("#noofrowsdiv__"+arr[1])
    $("#rowsdiv__"+arr[1]).remove();
    var coldiv=$('<div class="col-md-12" id="rowsdiv__'+arr[1]+'""></div>')

    for (i=0;i<rowinput;i++){
                var row=$('<div class="row"></div>');
                    var colmd12=$("<div class='col-md-10'></div>");
                        var label=$('<label class="textcolor" style= "padding: inherit">Row '+(i+1)+'</label>')
                        var input=$("<input class = 'generate_input' id='row_"+(i+1)+"_input'></input>")
                    colmd12.append(label);
                    colmd12.append(input);
                row.append(colmd12);
        coldiv.append(row)                
    }
    colrowdiv.append(coldiv);

    
}
function genChoiceButton(elem){
    var buttonid=$(elem).attr('id');
    arr=buttonid.split("__")
    console.log("arr",arr)
    console.log("buttonid",buttonid);

    var choicesinput= $("#noofchoices__"+arr[1]+"").val();
    console.log("choicesinput",choicesinput)

    var colrowdiv=$("#noofchoicesrowdiv__"+arr[1])
    $("#choicesdiv__"+arr[1]).remove();
    var coldiv=$('<div class="col-md-12" id="choicesdiv__'+arr[1]+'""></div>')

    for (i=0;i<choicesinput;i++){
                var row=$('<div class="row"></div>');
                    var colmd12=$("<div class='col-md-10'></div>");
                        var label=$('<label class="textcolor" style= "padding: inherit">Choice '+(i+1)+'</label>')
                        var input=$("<input class= 'generate_input'id='choice_"+(i+1)+"_input'></input>")
                    colmd12.append(label);
                    colmd12.append(input);
                row.append(colmd12);
        coldiv.append(row)                
    }
    colrowdiv.append(coldiv);
}
function saveQuestion(){
    var main_dict={}
    var mainlist=[];
    var sublist=[]
    var subdict1={}
    var sub_dict2={}
    var count=0
    var totalquestions=0
    $('.questionClass').each(function(i){
        totalquestions++;

    });
    console.log("totalquestions",totalquestions)

    $('.questionClass').each(function(i){
        count++;
        var select =$(this).find('select[id^="selectbox_"]').val()
        var title =$(this).find('#quest_title_input').val()
        var name =$(this).find('#quest_name_input').val()

        if(select==='matrix'){
            column_list=[]
            $('input[id^="col_"]').each(function(i){
                temp_dict={};
                id=$(this).attr('id');
                arr=id.split("_")
                value=arr[1]
                text=$(this).val();
                temp_dict['value']=text;
                temp_dict['text']=text;

                column_list.push(temp_dict)
                console.log("colsss",$(this).val());
            });
            console.log("column_list",column_list)

            row_list=[]
            $('input[id^="row_"]').each(function(i){
                var temp_dict={};
                id=$(this).attr('id');
                arr=id.split("_")
                value=arr[1]
                text=$(this).val();
                temp_dict['value']=text;
                temp_dict['text']=text;
                row_list.push(temp_dict)
                console.log("colsss",$(this).val());
            });
            console.log("row_list",row_list)

            sub_dict2={}
            sub_dict2['type']=select
            sub_dict2['name']=name
            sub_dict2['title']=title
            sub_dict2['columns']=column_list
            sub_dict2['rows']=row_list

            sublist.push(sub_dict2);
            console.log("sublist",sublist)

        
        }
        else if(select==='comment'){
            sub_dict2={}
            sub_dict2['type']=select
            sub_dict2['name']=name
            sub_dict2['title']=title

            sublist.push(sub_dict2);
            console.log("sublist",sublist)


        }            
        else if(select==='text'){
            sub_dict2={}
            sub_dict2['type']=select
            sub_dict2['name']=name
            sub_dict2['title']=title

            sublist.push(sub_dict2);
            console.log("sub_dict2",sub_dict2)
            console.log("sublist",sublist)


        }
        else if(select==='multipletext'){
            sub_dict2={}
            sub_dict2['type']=select
            sub_dict2['name']=name
            sub_dict2['title']=title

            sublist.push(sub_dict2);

        }
        else if(select==='radiogroup'){

            choice_list=[]
            $('input[id^="choice_"]').each(function(i){
                temp_dict={};
                id=$(this).attr('id');
                arr=id.split("_")
                value=arr[1]
                text=$(this).val();
                choice_list.push(text)
            });

            sub_dict2={}
            sub_dict2['type']=select
            sub_dict2['name']=name
            sub_dict2['title']=title
            sub_dict2['choices']=choice_list

            
            sublist.push(sub_dict2);
            console.log("sublist",sublist)


        }
        else if (select==='rating')
        {    

            sub_dict2={}
            sub_dict2['type']=select
            sub_dict2['name']=name
            sub_dict2['title']=title;

            var min_rate_description =$(this).find('#min_rate_descrip_input').val()
            var max_rate_description =$(this).find('#max_rate_descrip_input').val()
        
            sub_dict2['mininumRateDescription']=min_rate_description
            sub_dict2['maximumRateDescription']=max_rate_description

            sublist.push(sub_dict2);
            console.log("sublist",sublist)


        }
        else {
        }
        if (count===Math.round((totalquestions/2)) || count===totalquestions){
            var subdict1={};
            subdict1['questions']=[];
            console.log("sublist--final",sublist)
            subdict1['questions']=sublist;
            mainlist.push(subdict1);
            console.log("mainlist",mainlist)
            sublist=[]
        }
    })
    
    main_dict['pages']=mainlist;
    console.log("main_dict",main_dict)

    $.ajax({
        
            type: 'POST',
            dataType: "json",
            'data': {
                "expselected":expselected,
                'main_dict':JSON.stringify(main_dict),
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
    // the ajax call is sent to subdetails url name in the post function.  
            url: "{% url 'savesurveyform' %}",
            success: function(data){
                console.log("sucees")
            }
    });
    
$('.allquestions').remove()

}
function addQuestion(){
    questioncount++;
    $('#instructions').remove()

    var allquestions=$(".allquestions");
        var row_question_class=$("<div class='row questionClass'>")
            var col_md_12=$("<div class='col-md-12' id='ques_"+questioncount+"'>")
                var row=$('<div class="row">')
                    var col_md_3=$("<div class='col-md-3'>");
                        var label=$("<label class= 'textcolor'>Select Question Type</label>")
                    col_md_3.append(label);
                    var col_md_1=$("<div class='col-md-2'>");
                        var select=$('<select style="text-align-last:center;" class="input_select" id="selectbox_'+questioncount+'" onchange="selectFunc($(this))">')
                            var option1=$('<option value="--">--</option>')
                            var option2=$('<option value="matrix">Matrix</option>')
                            var option3=$('<option value="rating">Rating</option>')
                            var option4=$('<option value="comment">Comment</option>')
                            var option5=$('<option value="radiogroup">Radio Group</option>')
                            var option6=$('<option value="text">Text</option>')
                            var option7=$('<option value="multipletext">Multiple Text</option>')
                        select.append(option1);
                        select.append(option2);
                        select.append(option3);
                        select.append(option4);
                        select.append(option5);
                        select.append(option6);
                        select.append(option7);
                    col_md_1.append(select);
                    var col_md=$("<div class='col-md-3'>");
                        var removebutton=$("<button class='btn btn-danger' style='margin-top:0px; padding: 6px; border-radius: 4px; color: #fff; background-color: #d9534f; border-color: #d43f3a;' onclick='removeQuestion($(this))'>remove</button>")
                    col_md.append(removebutton);
                    
                row.append(col_md_3);
                row.append(col_md_1);
                row.append(col_md);
                // row.append(col_md1);        
        
            col_md_12.append(row);
        row_question_class.append(col_md_12);
    allquestions.append(row_question_class);
                            

}
function removeQuestion(element){
    $(element).parent().parent().parent().parent().remove();
}

function selectedExp(ele){
    // $(this).css("background-color","#FFFF00");
    $(".active_li").removeClass("active_li");
    $(ele).attr("class","active_li");
    console.log("ele",$(ele).text())
    expselected=$(ele).text()
}
</script>

{%endblock%}